{
  "openapi": "3.0.1",
  "info": {
    "title": "DW Gateway",
    "description": "# What is Data Workbench?\r\nData Workbench allows you to:\r\n* Get access to external data from different sources, f.ex. emission data, that can be used in your applications.\r\n* Securely share your data and use data shared by others.\r\n* Monitor who uses your data, limit how long it is available, and revoke access to it.\r\n* Build dashboards and reports on top of the data.\r\n* Work with scalable data streams and self-defined non-time-series data streams.\r\n\r\nFor details, see [Data Workbench on Marketplace](https://store.veracity.com/b692-2dd3fb6b0225-workbench).\r\n\r\n## Tenants and workspaces\r\nEach company or a B2C customer has one tenant in Data Workbench. A tenant can have multiple workspaces. Each workspace has members. Workspace members can be admins or readers.\r\n\r\n## Data sets\r\nTo see data sets available in your workspace, go to the **Data Catalogue** tab. \r\n\r\nThe **Predefined data sets** tab shows data sets that are queried by connections from their corresponding source systems. These data sets are inherited, and you cannot modify them. However, you can use them to create new data sets.\r\n\r\nThe **Created data sets** tab shows the data sets that workspace members created.\r\n\r\nEach data set has:\r\n* Title and description.\r\n* Column picker \u2013 show or hide table columns.\r\n* Filters - filter data.\r\n* Save option \u2013 save your changes.\r\n* Share option \u2013 share a data set with a user, and set for how long you grant them access.\r\n\r\nTo see data sets you can use, go to [My data](https://data.veracity.com/containers). \r\nTo see how to manage your data on Data Fabric, go [here](https://help-center.veracity.com/en/collections/2429587-managing-your-data-on-data-fabric).",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://tst-api.dw.veracity.com/gateway/api/v2"
    }
  ],
  "paths": {
    "/tenants/{tenantId}/users/invite": {
      "post": {
        "tags": [
          "Tenants"
        ],
        "summary": "Invite user to tenant",
        "description": "Sample request for user invite:\r\n\r\n    POST tenants/{tenantId:guid}/users/invite\r\n    {\r\n        \u0022email\u0022: \u0022email\u0022,\r\n        \u0022role\u0022: \u0022reader\u0022 or \u0022administrator\u0022\r\n    }",
        "operationId": "Tenants_InviteUserToTenant",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInviteDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Return result of user invite",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInviteResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/tenants/{tenantId}/users/roles": {
      "get": {
        "tags": [
          "Tenants"
        ],
        "summary": "Get users with role scopes in specified tenant",
        "description": "Sample response for paginated result of user role scopes info:\r\n\r\n    {\r\n    \t\u0022result\u0022: [\r\n    \t\t{\r\n    \t\t\t\u0022userId\u0022: \u0022ddbf7526-abc3-45e2-bfd9-a2223a431a12\u0022,\r\n    \t\t\t\u0022email\u0022: \u0022Jane.Yao@dnv.com\u0022,\r\n    \t\t\t\u0022name\u0022: \u0022Jane Yao\u0022,\r\n    \t\t\t\u0022isServicePrincipal\u0022: false,\r\n    \t\t\t\u0022roleScope\u0022: {\r\n    \t\t\t\t\u0022role\u0022: \u0022administrator\u0022,\r\n    \t\t\t\t\u0022scopeType\u0022: \u0022Tenant\u0022,\r\n    \t\t\t\t\u0022scopeRef\u0022: \u0022c39867d7-a4c0-4ae2-8281-7d45936a3bec\u0022\r\n    \t\t\t}\r\n    \t\t},\r\n    \t\t{\r\n    \t\t\t\u0022userId\u0022: \u0022e574383d-994e-4a3d-9a7d-5d76755552e1\u0022,\r\n    \t\t\t\u0022email\u0022: \u0022Jork.Cao@dnv.com\u0022,\r\n    \t\t\t\u0022name\u0022: \u0022Jork Cao\u0022,\r\n    \t\t\t\u0022isServicePrincipal\u0022: false,\r\n    \t\t\t\u0022roleScope\u0022: {\r\n    \t\t\t\t\u0022role\u0022: \u0022reader\u0022,\r\n    \t\t\t\t\u0022scopeType\u0022: \u0022Tenant\u0022,\r\n    \t\t\t\t\u0022scopeRef\u0022: \u0022c39867d7-a4c0-4ae2-8281-7d45936a3bec\u0022\r\n    \t\t\t}\r\n    \t\t}\r\n    \t],\r\n    \t\u0022pageIndex\u0022: 1,\r\n    \t\u0022pageSize\u0022: 2,\r\n    \t\u0022totalCount\u0022: 65,\r\n    \t\u0022totalPages\u0022: 33\r\n    }",
        "operationId": "Tenants_QueryTenantUserRoleScopes",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The tenant id which you want to get user role scopes",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Index of the current page (optional)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page (optional)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns paginated result of users with role scopes"
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/tenants/{tenantId}/users/{userId}/role": {
      "put": {
        "tags": [
          "Tenants"
        ],
        "summary": "Create or update user role of tenant",
        "description": "Sample request:\r\n\r\n    {\r\n        \u0022role\u0022: \u0022reader\u0022    //\u0022reader\u0022 or \u0022administrator\u0022\r\n    }\r\n    \r\nSample response:\r\n\r\n    {\r\n         \u0022roleScopeId\u0022: \u002200c3a436-433b-45e6-ba2a-dbb44cfa4100\u0022,\r\n         \u0022userId\u0022: \u002236f17b7f-3829-4e61-8106-d9047bd04dc4\u0022,      //Id of User\r\n         \u0022scopeRef\u0022: \u00227794cb5a-403e-4f87-bd80-f7f35a34f8fb\u0022,    //Id of tenant\r\n         \u0022scopeType\u0022: \u0022Tenant\u0022,\r\n         \u0022roleName\u0022: \u0022reader\u0022\r\n    }",
        "operationId": "Tenants_CreateOrUpdateTenantUserRole",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "Tenant id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateUserRoleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns updated user role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleScopeGetDto"
                }
              }
            }
          },
          "201": {
            "description": "Returns created user role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleScopeGetDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tenants"
        ],
        "summary": "Revoke user access to a specified tenant",
        "operationId": "Tenants_RevokeTenantUserRole",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The specified tenant id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User id whose access rights will be removed",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns http status code 200"
          },
          "400": {
            "description": "Failed"
          }
        }
      }
    },
    "/tenants/{tenantId}/workspaces": {
      "get": {
        "tags": [
          "Tenants"
        ],
        "summary": "Get workspace list which the current user has access to for a specified tenant",
        "description": "Sample response for Workspace list info:\r\n\r\n    [\r\n        {\r\n            \u0022id\u0022: \u00226113fcaa-a29e-4804-b9a9-dac331676008\u0022,\r\n            \u0022name\u0022: \u0022Workspace Name1\u0022,\r\n            \u0022description\u0022: \u0022Workspace created by test1\u0022,\r\n            \u0022region\u0022: \u0022EU\u0022\r\n        },\r\n        {\r\n            \u0022id\u0022: \u002289a1fcaa-D43e-9802-c879-cad886785129\u0022,\r\n            \u0022name\u0022: \u0022Workspace Name2\u0022,\r\n            \u0022description\u0022: \u0022Workspace created by test2\u0022,\r\n            \u0022region\u0022: \u0022EU\u0022\r\n        }\r\n    ]",
        "operationId": "Tenants_RetrieveAllWorkspaces",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The tenant id of the workspaces that you want to get",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of workspace in specified tenant",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkspaceDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tenants"
        ],
        "summary": "Add a new workspace to the specified tenant",
        "description": "Sample response for created workspace info:\r\n\r\n    {\r\n        \u0022id\u0022: \u0022196a8ff4-dfbc-4ee7-ae08-4f38b84d9c86\u0022,\r\n        \u0022name\u0022: \u0022SHANGHAI\u0022,\r\n        \u0022description\u0022: \u0022WS SHANGHAI\u0022,\r\n        \u0022region\u0022: \u0022EU\u0022\r\n    }",
        "operationId": "Tenants_CreateWorkspaceV2",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreationDtoV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Returns created workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}": {
      "get": {
        "tags": [
          "Tenants"
        ],
        "summary": "Get workspace by id",
        "description": "Sample response for Workspace info:\r\n\r\n    {\r\n        \u0022id\u0022: \u00226113fcaa-a29e-4804-b9a9-dac331676008\u0022,\r\n        \u0022name\u0022: \u0022Workspace Name1\u0022,\r\n        \u0022description\u0022: \u0022Workspace created by test1\u0022,\r\n        \u0022region\u0022: \u0022EU\u0022\r\n    }",
        "operationId": "Tenants_RetrieveWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "The workspace id of the workspace that you want to get",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns workspace with the specified id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Tenants"
        ],
        "summary": "Update workspace",
        "description": "Sample response for updated workspace info:\r\n\r\n    {\r\n        \u0022id\u0022: \u0022196a8ff4-dfbc-4ee7-ae08-4f38b84d9c86\u0022,\r\n        \u0022name\u0022: \u0022SHANGHAI\u0022,\r\n        \u0022description\u0022: \u0022WS SHANGHAI\u0022,\r\n        \u0022region\u0022: \u0022EU\u0022\r\n    }",
        "operationId": "Tenants_PatchWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "Workspace id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "Workspace update information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspacePatchDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns updated workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/analysis/executions": {
      "post": {
        "tags": [
          "Analysis"
        ],
        "summary": "Execute Python on a dataset, upon completion a notification will be triggered to user",
        "description": "Sample request For Execute Python:\r\n            \r\n    POST {workspaceId}/Analysis/executions\r\n            {\r\n                \u0022datasetIds\u0022: [\r\n                    \u00223fa85f64-5717-4562-b3fc-2c963f66afa6\u0022\r\n                ],\r\n                \u0022provider\u0022: \u0022string\u0022,\r\n                \u0022script\u0022: \u0022string\u0022,\r\n                \u0022outputDatasetName\u0022: \u0022string\u0022\r\n            }",
        "operationId": "Analysis_ExecutePython",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutionWriteDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Execution Started"
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/dataorders": {
      "post": {
        "tags": [
          "DataOrders"
        ],
        "summary": "Create Data Order",
        "description": "Sample request For GPM Provider:\r\n            \r\n    POST {workspaceId}/DataOrder\r\n            {\r\n               \u0022datasetName\u0022:\u0022string\u0022,\r\n               \u0022providerType\u0022:\u0022GPM\u0022,\r\n               \u0022properties\u0022:{\r\n                \u0022portfolioId\u0022 : \u0022b259ccb2-5c07-46f8-afa2-ed0f21d912e4\u0022,\r\n            \t\u0022siteId\u0022: \u0022EnergySite\u0022,\r\n            \t\u0022deviceParameters\u0022: [\r\n            \t\t{\r\n            \t\t\t\u0022deviceIds\u0022: [\r\n            \t\t\t\t\u00221234-5\u0022,\r\n            \t\t\t\t\u0022b1c80fc9-f548-47c7-a8a0-d41c635f6949\u0022\r\n            \t\t\t],\r\n            \t\t\t\u0022parameters\u0022: [\r\n            \t\t\t\t{\r\n            \t\t\t\t\t\u0022Name\u0022: \u0022Energy\u0022,\r\n            \t\t\t\t\t\u0022Aggregation\u0022: \u0022DEFAULT\u0022\r\n            \t\t\t\t},\r\n            \t\t\t\t{\r\n            \t\t\t\t\t\u0022Name\u0022: \u0022Power\u0022,\r\n            \t\t\t\t\t\u0022Aggregation\u0022: \u0022LAST\u0022\r\n            \t\t\t\t}\r\n            \t\t\t]\r\n            \t\t}\r\n            \t],\r\n            \t\u0022granularity\u0022: 1,\r\n            \t\u0022granularityUnit\u0022: \u0022Hour\u0022,\r\n            \t\u0022interval\u0022: {\r\n            \t\t\u0022start\u0022: \u00222023-01-01T15:00:00\u0022,\r\n            \t\t\u0022end\u0022: \u00222023-01-01T20:00:00\u0022\r\n               }\r\n             }\r\n         }",
        "operationId": "DataOrders_CreateOrder",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderWriteDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns Created Data Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderReadDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/dataorders/{orderId}": {
      "get": {
        "tags": [
          "DataOrders"
        ],
        "summary": "Get Order By Id",
        "operationId": "DataOrders_GetOrder",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Data Order Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderReadDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/datasets/documents/download": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Download Statement of Compliance PDF file based on workspaceId, datasetId and documentId",
        "operationId": "Datasets_SocDownload",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentRefDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns Statement of Compliance PDF file"
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/datasets/query": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get all data sets for a specific workspace. Supports pagination, enhanced filtering and sorting.",
        "operationId": "Datasets_GetDataCatalogsQuery",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataCatalogQueryDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns DataSets Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCatalogReadDtoV2PaginatedResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/datasets/{datasetId}": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Gets a specific data set by Workspace Id and DataSet Id",
        "operationId": "Datasets_GetDataCatalogByIdV2",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns DataSet Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCatalogReadDtoV2"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/datasets/{datasetId}/ledger": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Gets Dataset Ledger based on workspaceId and datasetId",
        "operationId": "Datasets_GetDataCatalogLedger",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Ledgers Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerDtoPaginatedResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/datasets/{datasetId}/query": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Query for data by Workspace Id and DataSet Id with optional filters",
        "operationId": "Datasets_QueryDataSet",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuerySpecificationV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns DataSet Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryData"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/datasets/{datasetId}/sas": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get a readonly SAS token for a given workspace dataset",
        "operationId": "Datasets_GetDatasetFolderReadonlyToken",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "durationInMinutes",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SASType"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/ingest": {
      "post": {
        "tags": [
          "Ingest"
        ],
        "summary": "Get data ingest endpoint for current workspace",
        "description": "Sample request\r\n\r\n    dfs:\r\n        POST {workspaceId}/Ingest?type=dfs\r\n        POST {workspaceId}/Ingest?datasetId=be072260-78d9-4e14-ac16-942284026577\u0026type=dfs\r\n    blob:\r\n        POST {workspaceId}/Ingest?type=blob\r\n        POST {workspaceId}/Ingest?datasetId=be072260-78d9-4e14-ac16-942284026577\u0026type=blob\r\n\r\nSample response\r\n    \r\n    dfs:\r\n        https://{domain}.dfs.core.windows.net/196a8ff4-dfbc-4ee7-ae08-4f38b84d9c86/a16d1d0d-2b92-4e71-b2a1-2931ce61c863/Raw?sv=2023-11-03\u0026spr=https\u0026st=2024-07-12T01%3A55%3A12Z\u0026se=2024-07-12T02%3A10%3A12Z\u0026sr=d\u0026sp=cw\u0026sdd=2\u0026sig=%2BaxD8B250vI0bJn9u8KHRv7duvLjqXlhOfVBOCi5Cqo%3D\r\n    blob:\r\n        https://{domain}.blob.core.windows.net/196a8ff4-dfbc-4ee7-ae08-4f38b84d9c86/f5a0ef4c-e76f-4d1c-9b0d-947c8b7923ff/Raw?sv=2023-11-03\u0026spr=https\u0026st=2024-07-12T01%3A56%3A01Z\u0026se=2024-07-12T02%3A11%3A01Z\u0026sr=d\u0026sp=cw\u0026sdd=2\u0026sig=EzfaySpQ5hAN2eLEAPp4vhRIyvMUDikD4iFKDmagpKM%3D",
        "operationId": "Ingest_GenerateByodStorage",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "datasetId",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "",
            "schema": {
              "$ref": "#/components/schemas/SASType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns SAS token for created folder, SAS token will be valid for only 15 mins",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/ingest/{requestId}/status": {
      "get": {
        "tags": [
          "Ingest"
        ],
        "summary": "Retrieve the content of the BYOD status file",
        "description": "Sample Response\r\n\r\n    {\r\n        \u0022status\u0022: \u0022Started\u0022,\r\n        \u0022correlationId\u0022: \u0022203bfa0b-86c3-4467-a3b0-d2eb415a96cc\u0022,\r\n        \u0022fileName\u0022: \u0022TestUpload.csv\u0022\r\n    }\r\n    \r\n    {\r\n        \u0022status\u0022: \u0022Completed\u0022,\r\n        \u0022correlationId\u0022: \u0022203bfa0b-86c3-4467-a3b0-d2eb415a96cc\u0022,\r\n        \u0022fileName\u0022: \u0022TestUpload.csv\u0022,\r\n        \u0022dataSetName\u0022: \u0022TestUploadLILN\u0022\r\n    }",
        "operationId": "Ingest_GetStatusLog",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "requestId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Status Log",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusLogModel"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/ledger": {
      "get": {
        "tags": [
          "Ledger"
        ],
        "summary": "Gets Workspace Ledger based on workspaceId",
        "operationId": "Ledger_GetWorkspaceLedger",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Ledgers Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerDtoPaginatedResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/revokesastoken": {
      "delete": {
        "tags": [
          "Datasets"
        ],
        "summary": "Revoke all SAS tokens for the workspace container",
        "operationId": "Datasets_RevokeAllSasTokensForContainer",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/revokesastoken/{policyName}": {
      "delete": {
        "tags": [
          "Datasets"
        ],
        "summary": "Revoke a SAS token for the workspace container",
        "operationId": "Datasets_RevokeSasTokenForContainer",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/saspolicies": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get a SAS policies for the workspace container",
        "operationId": "Datasets_GetSasPoliciesForContainer",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SasPolicyReadDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/schemas": {
      "get": {
        "tags": [
          "Schemas"
        ],
        "summary": "Gets a list of workspace schemas for a specific workspace",
        "operationId": "Schemas_GetWorkspaceSchemas",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "includeDefaultSchemaVersion",
            "in": "query",
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Schemas Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SchemaReadDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/schemas/add": {
      "post": {
        "tags": [
          "Schemas"
        ],
        "summary": "create a new schema",
        "operationId": "Schemas_AddSchema",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaWriteDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaReadDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/schemas/schemaversions": {
      "post": {
        "tags": [
          "Schemas"
        ],
        "summary": "Get multiple schema versions",
        "operationId": "Schemas_GetSchemaVersions",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SchemaVersionReadDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/schemas/schemaversions/add": {
      "post": {
        "tags": [
          "Schemas"
        ],
        "summary": "Add a new schema version",
        "operationId": "Schemas_AddSchemaVersion",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaVersionWriteDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaVersionReadDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/schemas/schemaversions/{schemaVersionId}": {
      "get": {
        "tags": [
          "Schemas"
        ],
        "summary": "Get a specific schema version",
        "operationId": "Schemas_GetSchemaVersionById",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "schemaVersionId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SchemaVersionReadDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/schemas/validators": {
      "get": {
        "tags": [
          "Schemas"
        ],
        "summary": "Gets a list of column validators by workspace Id",
        "description": "Sample response:\r\n\r\n     [\r\n         {\r\n             \u0022id\u0022: \u002210ffec78-4792-4364-babd-e9c45b6f94ab\u0022,\r\n             \u0022workspaceId\u0022: \u0022196a8ff4-dfbc-4ee7-ae08-4f38b84d9c86\u0022,\r\n             \u0022name\u0022: \u0022string 3\u0022,\r\n             \u0022notEmpty\u0022: true,\r\n             \u0022dataFormat\u0022: \u0022String\u0022,\r\n             \u0022minimum\u0022: 0,\r\n             \u0022maximum\u0022: 1,\r\n             \u0022exclusiveMinimum\u0022: true,\r\n             \u0022exclusiveMaximum\u0022: true,\r\n             \u0022minLength\u0022: 0,\r\n             \u0022maxLength\u0022: 1,\r\n             \u0022pattern\u0022: \u0022string\u0022,\r\n             \u0022errorMessage\u0022: \u0022string\u0022,\r\n             \u0022fallbackValue\u0022: \u0022string\u0022,\r\n             \u0022createdBy\u0022: \u002261cecec8-629b-4779-b593-6505e2b9443b\u0022,\r\n             \u0022createdOn\u0022: \u00222024-06-26T14:20:50.1444566Z\u0022,\r\n             \u0022lastModifiedBy\u0022: \u002261cecec8-629b-4779-b593-6505e2b9443b\u0022,\r\n             \u0022lastModifiedOn\u0022: \u00222024-06-26T14:20:50.1444566Z\u0022\r\n         },\r\n         {\r\n             \u0022id\u0022: \u0022834c7130-92bf-428e-acb2-c5567a540106\u0022,\r\n             \u0022workspaceId\u0022: \u0022196a8ff4-dfbc-4ee7-ae08-4f38b84d9c86\u0022,\r\n             \u0022name\u0022: \u0022string\u0022,\r\n             \u0022notEmpty\u0022: true,\r\n             \u0022dataFormat\u0022: \u0022String\u0022,\r\n             \u0022minimum\u0022: 1,\r\n             \u0022maximum\u0022: 3,\r\n             \u0022exclusiveMinimum\u0022: true,\r\n             \u0022exclusiveMaximum\u0022: true,\r\n             \u0022minLength\u0022: 1,\r\n             \u0022maxLength\u0022: 3,\r\n             \u0022pattern\u0022: \u0022string\u0022,\r\n             \u0022errorMessage\u0022: \u0022string\u0022,\r\n             \u0022fallbackValue\u0022: \u0022string\u0022,\r\n             \u0022createdBy\u0022: \u002261cecec8-629b-4779-b593-6505e2b9443b\u0022,\r\n             \u0022createdOn\u0022: \u00222024-06-27T09:55:58.1032117Z\u0022,\r\n             \u0022lastModifiedBy\u0022: \u002261cecec8-629b-4779-b593-6505e2b9443b\u0022,\r\n             \u0022lastModifiedOn\u0022: \u00222024-06-27T09:55:58.1032117Z\u0022\r\n         }\r\n     ]",
        "operationId": "Schemas_GetValidatorsListByWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ColumnValidatorReadDto"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Schemas"
        ],
        "summary": "Creates a new column validator",
        "description": "Example of request body:\r\n\r\n    {\r\n        \u0022name\u0022: \u0022Can be empty\u0022,\r\n        \u0022notEmpty\u0022: false,\r\n        \u0022errorMessage\u0022: \u0022Can be empty\u0022\r\n    }\r\n\r\nSample response:\r\n\r\n    {\r\n        \u0022id\u0022: \u0022d4ab697e-23f8-403b-82cd-3ead39deb0c3\u0022,\r\n        \u0022workspaceId\u0022: \u0022196a8ff4-dfbc-4ee7-ae08-4f38b84d9c86\u0022,\r\n        \u0022name\u0022: \u0022Can be empty\u0022,\r\n        \u0022notEmpty\u0022: false,\r\n        \u0022errorMessage\u0022: \u0022Can be empty\u0022,\r\n        \u0022createdBy\u0022: \u002261cecec8-629b-4779-b593-6505e2b9443b\u0022,\r\n        \u0022createdOn\u0022: \u00222024-07-05T09:52:48.8341034Z\u0022,\r\n        \u0022lastModifiedBy\u0022: \u002261cecec8-629b-4779-b593-6505e2b9443b\u0022,\r\n        \u0022lastModifiedOn\u0022: \u00222024-07-05T09:52:48.8341034Z\u0022\r\n    }",
        "operationId": "Schemas_CreateValidatorWithWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ColumnValidatorWriteDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnValidatorReadDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/schemas/validators/global": {
      "get": {
        "tags": [
          "Schemas"
        ],
        "summary": "Get list of global validators",
        "description": "Sample response:\r\n\r\n     [\r\n         {\r\n             \u0022id\u0022: \u002210ffec78-4792-4364-babd-e9c45b6f94ab\u0022,\r\n             \u0022workspaceId\u0022: \u0022196a8ff4-dfbc-4ee7-ae08-4f38b84d9c86\u0022,\r\n             \u0022name\u0022: \u0022string 3\u0022,\r\n             \u0022notEmpty\u0022: true,\r\n             \u0022dataFormat\u0022: \u0022String\u0022,\r\n             \u0022minimum\u0022: 0,\r\n             \u0022maximum\u0022: 1,\r\n             \u0022exclusiveMinimum\u0022: true,\r\n             \u0022exclusiveMaximum\u0022: true,\r\n             \u0022minLength\u0022: 0,\r\n             \u0022maxLength\u0022: 1,\r\n             \u0022pattern\u0022: \u0022string\u0022,\r\n             \u0022errorMessage\u0022: \u0022string\u0022,\r\n             \u0022fallbackValue\u0022: \u0022string\u0022,\r\n             \u0022createdBy\u0022: \u002261cecec8-629b-4779-b593-6505e2b9443b\u0022,\r\n             \u0022createdOn\u0022: \u00222024-06-26T14:20:50.1444566Z\u0022,\r\n             \u0022lastModifiedBy\u0022: \u002261cecec8-629b-4779-b593-6505e2b9443b\u0022,\r\n             \u0022lastModifiedOn\u0022: \u00222024-06-26T14:20:50.1444566Z\u0022\r\n         },\r\n         {\r\n             \u0022id\u0022: \u0022834c7130-92bf-428e-acb2-c5567a540106\u0022,\r\n             \u0022workspaceId\u0022: \u0022196a8ff4-dfbc-4ee7-ae08-4f38b84d9c86\u0022,\r\n             \u0022name\u0022: \u0022string\u0022,\r\n             \u0022notEmpty\u0022: true,\r\n             \u0022dataFormat\u0022: \u0022String\u0022,\r\n             \u0022minimum\u0022: 1,\r\n             \u0022maximum\u0022: 3,\r\n             \u0022exclusiveMinimum\u0022: true,\r\n             \u0022exclusiveMaximum\u0022: true,\r\n             \u0022minLength\u0022: 1,\r\n             \u0022maxLength\u0022: 3,\r\n             \u0022pattern\u0022: \u0022string\u0022,\r\n             \u0022errorMessage\u0022: \u0022string\u0022,\r\n             \u0022fallbackValue\u0022: \u0022string\u0022,\r\n             \u0022createdBy\u0022: \u002261cecec8-629b-4779-b593-6505e2b9443b\u0022,\r\n             \u0022createdOn\u0022: \u00222024-06-27T09:55:58.1032117Z\u0022,\r\n             \u0022lastModifiedBy\u0022: \u002261cecec8-629b-4779-b593-6505e2b9443b\u0022,\r\n             \u0022lastModifiedOn\u0022: \u00222024-06-27T09:55:58.1032117Z\u0022\r\n         }\r\n     ]",
        "operationId": "Schemas_GetValidatorsList",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ColumnValidatorReadDto"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/schemas/validators/{validatorId}": {
      "get": {
        "tags": [
          "Schemas"
        ],
        "summary": "Gets a column validator by Id",
        "description": "Sample response:\r\n\r\n    {\r\n        \u0022id\u0022: \u002210ffec78-4792-4364-babd-e9c45b6f94ab\u0022,\r\n        \u0022workspaceId\u0022: \u0022196a8ff4-dfbc-4ee7-ae08-4f38b84d9c86\u0022,\r\n        \u0022name\u0022: \u0022string 3\u0022,\r\n        \u0022notEmpty\u0022: true,\r\n        \u0022dataFormat\u0022: \u0022String\u0022,\r\n        \u0022minimum\u0022: 0,\r\n        \u0022maximum\u0022: 1,\r\n        \u0022exclusiveMinimum\u0022: true,\r\n        \u0022exclusiveMaximum\u0022: true,\r\n        \u0022minLength\u0022: 0,\r\n        \u0022maxLength\u0022: 1,\r\n        \u0022pattern\u0022: \u0022string\u0022,\r\n        \u0022errorMessage\u0022: \u0022string\u0022,\r\n        \u0022fallbackValue\u0022: \u0022string\u0022,\r\n        \u0022createdBy\u0022: \u002280737649-9108-49ff-9811-a419be7c1862\u0022,\r\n        \u0022createdOn\u0022: \u00222024-06-26T14:20:50.1444566Z\u0022,\r\n        \u0022lastModifiedBy\u0022: \u002280737649-9108-49ff-9811-a419be7c1862\u0022,\r\n        \u0022lastModifiedOn\u0022: \u00222024-06-26T14:20:50.1444566Z\u0022\r\n    }",
        "operationId": "Schemas_GetValidatorByIdWithWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "validatorId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnValidatorReadDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Schemas"
        ],
        "summary": "Updates column validator by Id",
        "description": "Example of request body:\r\n\r\n    {\r\n        \u0022name\u0022: \u0022Not Empty\u0022,\r\n        \u0022notEmpty\u0022: true,\r\n        \u0022errorMessage\u0022: \u0022Cannot be empty\u0022\r\n    }",
        "operationId": "Schemas_UpdateValidatorByIdWithWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "validatorId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ColumnValidatorWriteDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnValidatorReadDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Schemas"
        ],
        "summary": "Deletes the column validator with the specified ID.",
        "operationId": "Schemas_DeleteValidatorByIdWithWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "validatorId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/schemas/{schemaId}": {
      "get": {
        "tags": [
          "Schemas"
        ],
        "summary": "Get a specific schema",
        "operationId": "Schemas_GetSchemaById",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "schemaId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Schemas Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaReadDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Schemas"
        ],
        "summary": "Patch Schema",
        "operationId": "Schemas_UpdateSchema",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "schemaId",
            "in": "path",
            "description": "Schema Id to edit",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "The input describing the schema",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaPatchDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaReadDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/schemas/{schemaId}/schemaversions/{schemaVersionId}": {
      "patch": {
        "tags": [
          "Schemas"
        ],
        "summary": "Update schema version",
        "operationId": "Schemas_PatchSchemaVersion",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "schemaId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "schemaVersionId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaVersionUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaVersionReadDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/schemas/{schemaId}/schemaversions/{schemaVersionId}/activate": {
      "post": {
        "tags": [
          "Schemas"
        ],
        "summary": "Activate schema version",
        "operationId": "Schemas_ActivateSchemaVersion",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "schemaId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "schemaVersionId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaVersionReadDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/shares/sharedby/query": {
      "post": {
        "tags": [
          "Shares"
        ],
        "summary": "Get share owner info by dataset ID list",
        "description": "Sample response for shared owner info:\r\n\r\n    [\r\n        {\r\n            \u0022datasetId\u0022: \u0022f80b0de1-3b1d-4a64-aa4d-88d6073ff1cd\u0022,    // Id of the dataset\r\n            \u0022sharedBy\u0022: {\r\n                \u0022id\u0022: \u00223fa85f64-5717-4562-b3fc-2c963f66afa6\u0022,   // Id of the shared user\r\n                \u0022sharedByType\u0022: \u0022User\u0022,\r\n                \u0022name\u0022: \u0022User Name\u0022  // Name of the shared user\r\n            }\r\n        },\r\n        {\r\n            \u0022datasetId\u0022: \u00226113fcaa-a29e-4804-b9a9-dac331676ee8\u0022,    // Id of the dataset\r\n            \u0022sharedBy\u0022: {\r\n                \u0022id\u0022: \u0022a1d9ef10-39c3-4d3a-8c33-241a0b1138a1\u0022,   // Id of the shared workspace\r\n                \u0022sharedByType\u0022: \u0022Workspace\u0022,\r\n                \u0022name\u0022: \u0022Workspace Name\u0022  // Name of the shared workspace\r\n            }\r\n        }\r\n    ]",
        "operationId": "Shares_QuerySharedBys",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SharedBysQueryDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns List of shared owner info Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SharedByInfoResultDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/shares/{shareId}/storages/sas": {
      "get": {
        "tags": [
          "Storages"
        ],
        "summary": "Get storage sas token by share id",
        "operationId": "Storages_GetSASTokenForStorageDatasetByShareIdV2",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "The id of the workspace",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "shareId",
            "in": "path",
            "description": "Share id of the dataset",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returns sas token for storage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SasTokenResultDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/storages/external/policies": {
      "post": {
        "tags": [
          "Storages"
        ],
        "summary": "List sas policies for current workspace.",
        "description": "/// Sample request For Revoke Sas Token:\r\n\r\n    POST {workspaceId}/storages/external/policies\r\n            {\r\n              \u0022containerName\u0022: \u0022string\u0022,\r\n              \u0022connectionString\u0022: \u0022string\u0022                 \r\n            } \r\n* ContainerName is the name of the container for which the SAS policy needs to be revoked.\r\n* ConnectionString is the connection string of the external storage account.\r\n\r\nNotes - \r\n* This endpoint helps to list all the SAS policies for external storage which are active.",
        "operationId": "Storages_ListExternalStorageSASPolicies",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionSettingsDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of sas policies for the workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SasPolicyDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/storages/external/sas": {
      "post": {
        "tags": [
          "Storages"
        ],
        "summary": "Get external storage sas token for current workspace",
        "description": "Sample request For Storage Sas Token:\r\n\r\n    POST {workspaceId}/storages/sas\r\n            {\r\n                \u0022settings\u0022: {\r\n                  \u0022containerName\u0022: \u0022string\u0022,\r\n                  \u0022connectionString\u0022: \u0022string\u0022\r\n                },\r\n                \u0022filters\u0022: {\r\n                   \u0022path\u0022: \u002218a4a7ab-022c-4964-9d1b-6cc77e252a67/test.csv\u0022,\r\n                   \u0022readOrWritePermission\u0022: \u0022Read\u0022,\r\n                   \u0022startsOn\u0022: \u00222024-05-14T09:04:12.297Z\u0022,\r\n                   \u0022expiresOn\u0022: \u00222024-05-14T09:04:12.297Z\u0022,\r\n                   \u0022storageName\u0022: \u0022StorageDataset\u0022\r\n                }\r\n            }\r\n* ContainerName is the name of the container for which the SAS policy needs to be revoked.\r\n* ConnectionString is the connection string of the external storage account.\r\n* Path \u2013 string, path of the resource you want to generate the SAS Token for. It is optional, if it is left empty or not provided, the default path of internal storage will be considered.(which means ContainerName which was specified while creating the internal storage). If provided, it should be valid path pointing to a resource.\r\n* ReadOrWritePermission \u2013 string, type of permission you want to give on the resource, it can only have values Read/Write.\r\n* StartsOn \u2013 DateTime, datetime from which the SAS Token will be valid. It is optional, if not provided current UTC date time will be considered. If provided, it should not be a past date time.\r\n* ExpiresOn \u2013 DateTime, datetime till when the SAS Token will be valid.It should not be a past date time and should be greater than StartsOn.\r\n* StorageName - string, name of the storage for which the SAS token needs to be generated. It is optional, if not provided the default internal storage dataset will be considered. If it is provided it should be a valid storage dataset name.\r\n\r\nNotes - \r\n* A user of Workspace who has role of Reader can only generate tokens with Read permission, if he tries to generate token with Write permission, he will be unauthorized.\r\n* A user of Workspace who has role of Administrator can generate tokens with both Read/Write permissions.\r\n* Service Accounts should generate only Read token. If they need to generate Write SAS Token, they need to get access for it.\r\n\r\nSample response for new Storage Sas Token result\r\n               {\r\n                   \u0022sasToken\u0022: \u0022https://test.dfs.core.windows.net/\u0022,\r\n                   \u0022policy\u0022: {\r\n                   \u0022policyName\u0022: \u0022rl-policy\u0022,\r\n                       \u0022policyPermissions\u0022: [\r\n                         \u0022Read\u0022,\r\n                         \u0022List\u0022\r\n                       ]\r\n                    }\r\n                 }",
        "operationId": "Storages_GetSASTokenForExternalStorage",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSasTokenForExternalDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns sas token for storage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SasTokenResultDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/storages/policies": {
      "get": {
        "tags": [
          "Storages"
        ],
        "summary": "List sas policies for current workspace.",
        "description": "Notes - \r\n* This endpoint helps to list all the SAS policies for internal storage which are active.",
        "operationId": "Storages_ListInternalStorageSASPolicies",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "List of sas policies for the workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SasPolicyDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/storages/sas": {
      "post": {
        "tags": [
          "Storages"
        ],
        "summary": "Get internal storage sas token for current workspace",
        "description": "Sample request For Storage Sas Token:\r\n\r\n    POST {workspaceId}/storages/sas\r\n            {\r\n                \u0022path\u0022: \u002218a4a7ab-022c-4964-9d1b-6cc77e252a67/test.csv\u0022,\r\n                \u0022readOrWritePermission\u0022: \u0022Read\u0022,\r\n                \u0022startsOn\u0022: \u00222024-05-14T09:04:12.297Z\u0022,\r\n                \u0022expiresOn\u0022: \u00222024-05-14T09:04:12.297Z\u0022,\r\n                \u0022storageName\u0022: \u0022StorageDataset\u0022\r\n            }\r\n* Path \u2013 string, path of the resource you want to generate the SAS Token for. It is optional, if it is left empty or not provided, the default path of internal storage will be considered.(which means ContainerName which was specified while creating the internal storage). If provided, it should be valid path pointing to a resource.\r\n* ReadOrWritePermission \u2013 string, type of permission you want to give on the resource, it can only have values Read/Write.\r\n* StartsOn \u2013 DateTime, datetime from which the SAS Token will be valid. It is optional, if not provided current UTC date time will be considered. If provided, it should not be a past date time.\r\n* ExpiresOn \u2013 DateTime, datetime till when the SAS Token will be valid.It should not be a past date time and should be greater than StartsOn.\r\n* StorageName - string, name of the storage for which the SAS token needs to be generated. It is optional, if not provided the default internal storage dataset will be considered. If it is provided it should be a valid storage dataset name.\r\n\r\nNotes - \r\n* A user of Workspace who has role of Reader can only generate tokens with Read permission, if he tries to generate token with Write permission, he will be unauthorized.\r\n* A user of Workspace who has role of Administrator can generate tokens with both Read/Write permissions.\r\n* Service Accounts should generate only Read token. If they need to generate Write SAS Token, they need to get access for it.\r\n\r\nSample response for new Storage Sas Token result\r\n               {\r\n                   \u0022sasToken\u0022: \u0022https://test.dfs.core.windows.net/\u0022,\r\n                   \u0022policy\u0022: {\r\n                   \u0022policyName\u0022: \u0022rl-policy\u0022,\r\n                       \u0022policyPermissions\u0022: [\r\n                         \u0022Read\u0022,\r\n                         \u0022List\u0022\r\n                       ]\r\n                    }\r\n                 }",
        "operationId": "Storages_GetSASTokenForInternalStorage",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageQueryDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns sas token for storage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SasTokenResultDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/storages/sas/external/revoke": {
      "delete": {
        "tags": [
          "Storages"
        ],
        "summary": "Revoke sas policy for current workspace or based on policy name.",
        "description": "Sample request For Revoke Sas Token:\r\n\r\n    DELETE {workspaceId}/storages/sas/external/revoke\r\n            {\r\n                \u0022settings\u0022: {\r\n                    \u0022containerName\u0022: \u0022string\u0022,\r\n                    \u0022connectionString\u0022: \u0022string\u0022\r\n                },\r\n                \u0022policyName\u0022: \u0022string\u0022\r\n            } \r\n* ContainerName is the name of the container for which the SAS policy needs to be revoked.\r\n* ConnectionString is the connection string of the external storage account.\r\n\r\nNotes - \r\n* If policyName is not provided, all the SAS policies for the workspace for storage will be revoked.\r\n* If policyName is provided, only the SAS policy with that name will be revoked.\r\n* To see the policyNames for storage, call the POST endpoint - /gateway/api/v1/workspaces/{workspaceId}/storages/sas/external/policies endpoint.\r\n* A user of Workspace who has role of Reader can not revoke tokens.\r\n* A user of Workspace who has role of Administrator can only revoke tokens.\r\n* Service Accounts can\u0027t revoke tokens currently.",
        "operationId": "Storages_RevokeExternalSASToken",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeSasTokenExternalDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Revokes sas policy for storage"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/storages/sas/revoke": {
      "delete": {
        "tags": [
          "Storages"
        ],
        "summary": "Revoke sas policy for current workspace or based on policy name.",
        "description": "Notes - \r\n* If policyName is not provided, all the SAS policies for the workspace for storage will be revoked.\r\n* If policyName is provided, only the SAS policy with that name will be revoked.\r\n* To see the policyNames for storage, call the GET endpoint - /gateway/api/v1/workspaces/{workspaceId}/storages/sas/policies endpoint.\r\n* A user of Workspace who has role of Reader can not revoke tokens.\r\n* A user of Workspace who has role of Administrator can only revoke tokens.\r\n* Service Accounts can\u0027t revoke tokens currently.",
        "operationId": "Storages_RevokeInternalSASToken",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-nullable": false
            },
            "x-nullable": false
          },
          {
            "name": "policyToRevoke",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "x-nullable": false
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Revokes sas policy for storage"
          },
          "400": {
[...]
