{
  "openapi": "3.0.1",
  "info": {
    "title": "DataValidatorApi",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.veracity.com/veracity/datavalidator"
    }
  ],
  "paths": {
    "/api/v1/schemas": {
      "get": {
        "tags": [
          "Schema"
        ],
        "summary": "Gets a list of pre-defined schemas",
        "description": "Gets a list of pre-defined schemas",
        "operationId": "Schema_GetPredefinedList",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SchemaReadDTO"
                  }
                },
                "example": [
                  {
                    "schemaId": "string",
                    "name": "string",
                    "shortName": "string",
                    "description": "string",
                    "isPredefined": true,
                    "industryId": "string",
                    "workspaceId": "string",
                    "createdBy": "string"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Schema"
        ],
        "summary": "Adds a pre-defined schema with all the details",
        "description": "Adds a pre-defined schema with all the details",
        "operationId": "Schema_AddPredefined",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaWithVersionWriteDTO"
              },
              "example": {
                "name": "string",
                "shortName": "string",
                "description": "string",
                "version": {
                  "rowValidators": [
                    {
                      "name": "string",
                      "checkParameter": "string",
                      "columnsToCheck": [
                        "string"
                      ],
                      "columnsToAffect": [
                        "string"
                      ],
                      "logicalOperator": "And",
                      "rowValidatorType": "RequiredIfNotNull"
                    }
                  ],
                  "schemaColumns": [
                    {
                      "name": "string",
                      "mustBePresent": true,
                      "columnOrder": 0,
                      "metaFormat": "string",
                      "columnValidators": [
                        {
                          "columnValidatorId": 0,
                          "severity": "Error"
                        }
                      ],
                      "schemaColumnType": "Validation",
                      "metaType": "NotApplicable"
                    }
                  ],
                  "description": "string"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaReadDTO"
                },
                "example": {
                  "schemaId": "string",
                  "name": "string",
                  "shortName": "string",
                  "description": "string",
                  "isPredefined": true,
                  "industryId": "string",
                  "workspaceId": "string",
                  "createdBy": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/schemas/{schemaId}": {
      "get": {
        "tags": [
          "Schema"
        ],
        "summary": "Gets a pre-defined schema",
        "description": "Gets a pre-defined schema",
        "operationId": "Schema_GetPredefined",
        "parameters": [
          {
            "name": "schemaId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaDetails"
                },
                "example": {
                  "schemaId": "string",
                  "name": "string",
                  "shortName": "string",
                  "description": "string",
                  "isPredefined": true,
                  "workspaceId": "string",
                  "activeVersion": {
                    "schemaVersionId": "string",
                    "schemaId": "string",
                    "version": 0,
                    "isActive": true,
                    "schemaColumns": [
                      {
                        "schemaColumnId": 0,
                        "name": "string",
                        "schemaVersionId": "string",
                        "mustBePresent": true,
                        "columnOrder": 0,
                        "metaFormat": "string",
                        "columnValidators": [
                          {
                            "schemaColumnId": 0,
                            "columnValidatorId": 0,
                            "validatorName": "string",
                            "severity": "Error"
                          }
                        ],
                        "schemaColumnType": "Validation",
                        "metaType": "NotApplicable"
                      }
                    ],
                    "rowValidators": [
                      {
                        "rowValidatorId": "string",
                        "schemaVersionId": "string",
                        "name": "string",
                        "checkParameter": "string",
                        "columnsToCheck": [
                          {
                            "rowValidatorId": "string",
                            "schemaColumnId": 0,
                            "columnName": "string",
                            "relationship": "Affect"
                          }
                        ],
                        "columnsToAffect": [
                          {
                            "rowValidatorId": "string",
                            "schemaColumnId": 0,
                            "columnName": "string",
                            "relationship": "Affect"
                          }
                        ],
                        "logicalOperator": "And",
                        "rowValidatorType": "RequiredIfNotNull"
                      }
                    ],
                    "description": "string",
                    "createdBy": "string"
                  },
                  "versions": [
                    {
                      "schemaVersionId": "string",
                      "schemaId": "string",
                      "version": 0,
                      "isActive": true,
                      "schemaColumns": [
                        {
                          "schemaColumnId": 0,
                          "name": "string",
                          "schemaVersionId": "string",
                          "mustBePresent": true,
                          "columnOrder": 0,
                          "metaFormat": "string",
                          "columnValidators": [
                            {
                              "schemaColumnId": 0,
                              "columnValidatorId": 0,
                              "validatorName": "string",
                              "severity": "Error"
                            }
                          ],
                          "schemaColumnType": "Validation",
                          "metaType": "NotApplicable"
                        }
                      ],
                      "rowValidators": [
                        {
                          "rowValidatorId": "string",
                          "schemaVersionId": "string",
                          "name": "string",
                          "checkParameter": "string",
                          "columnsToCheck": [
                            {
                              "rowValidatorId": "string",
                              "schemaColumnId": 0,
                              "columnName": "string",
                              "relationship": "Affect"
                            }
                          ],
                          "columnsToAffect": [
                            {
                              "rowValidatorId": "string",
                              "schemaColumnId": 0,
                              "columnName": "string",
                              "relationship": "Affect"
                            }
                          ],
                          "logicalOperator": "And",
                          "rowValidatorType": "RequiredIfNotNull"
                        }
                      ],
                      "description": "string",
                      "createdBy": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/validators": {
      "get": {
        "tags": [
          "ColumnValidator"
        ],
        "summary": "Lists all pre-defined column validators",
        "description": "Lists all pre-defined column validators",
        "operationId": "ColumnValidator_GetList",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ColumnValidatorReadDTO"
                  }
                },
                "example": [
                  {
                    "columnValidatorId": 0,
                    "message": "string",
                    "name": "string",
                    "isPredefined": true,
                    "workspaceId": "string",
                    "validationType": "Length",
                    "max": 0,
                    "min": 0,
                    "regex": "string",
                    "type": "string",
                    "createdBy": "string",
                    "createdOn": "string"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ColumnValidator"
        ],
        "summary": "Adds a new pre-defined column validator",
        "description": "Adds a new pre-defined column validator",
        "operationId": "ColumnValidator_Add",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ColumnValidatorWriteDTO"
              },
              "example": {
                "message": "string",
                "name": "string",
                "validationType": "Length",
                "max": 0,
                "min": 0,
                "regex": "string",
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnValidatorReadDTO"
                },
                "example": {
                  "columnValidatorId": 0,
                  "message": "string",
                  "name": "string",
                  "isPredefined": true,
                  "workspaceId": "string",
                  "validationType": "Length",
                  "max": 0,
                  "min": 0,
                  "regex": "string",
                  "type": "string",
                  "createdBy": "string",
                  "createdOn": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/validators/{id}": {
      "get": {
        "tags": [
          "ColumnValidator"
        ],
        "summary": "Gets a pre-defined column validator",
        "description": "Gets a pre-defined column validator",
        "operationId": "ColumnValidator_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32. column validator Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnValidatorReadDTO"
                },
                "example": {
                  "columnValidatorId": 0,
                  "message": "string",
                  "name": "string",
                  "isPredefined": true,
                  "workspaceId": "string",
                  "validationType": "Length",
                  "max": 0,
                  "min": 0,
                  "regex": "string",
                  "type": "string",
                  "createdBy": "string",
                  "createdOn": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ColumnValidator"
        ],
        "summary": "Updates a pre-defined column validator",
        "description": "Updates a pre-defined column validator",
        "operationId": "ColumnValidator_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ColumnValidatorWriteDTO"
              },
              "example": {
                "message": "string",
                "name": "string",
                "validationType": "Length",
                "max": 0,
                "min": 0,
                "regex": "string",
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnValidatorReadDTO"
                },
                "example": {
                  "columnValidatorId": 0,
                  "message": "string",
                  "name": "string",
                  "isPredefined": true,
                  "workspaceId": "string",
                  "validationType": "Length",
                  "max": 0,
                  "min": 0,
                  "regex": "string",
                  "type": "string",
                  "createdBy": "string",
                  "createdOn": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ColumnValidator"
        ],
        "summary": "Remove a pre-defined column validator",
        "description": "Remove a pre-defined column validator",
        "operationId": "ColumnValidator_Remove",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - int32. column validator Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/worker/containers/{containerId}/schemaDefinition": {
      "get": {
        "tags": [
          "WorkerFunctions"
        ],
        "summary": "Gets container info and schema details by container Id",
        "description": "Gets container info and schema details by container Id",
        "operationId": "WorkerFunctions_GetSchemaDefinition",
        "parameters": [
          {
            "name": "containerId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinimalSchemaDefinitionForWorkerDto"
                },
                "example": {
                  "schemaRef": {
                    "id": "string",
                    "shortName": "string",
                    "version": 0
                  },
                  "outputContainerId": "string",
                  "columns": [
                    {
                      "name": "string",
                      "mustBePresent": true,
                      "metaFormat": "string",
                      "rules": {},
                      "metaType": "NotApplicable"
                    }
                  ],
                  "columnValidators": {},
                  "rowValidators": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "List all my workspaces",
        "description": "List all my workspaces",
        "operationId": "Workspace_GetList",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkspaceReadDTO"
                  }
                },
                "example": [
                  {
                    "workspaceId": "string",
                    "name": "string",
                    "description": "string",
                    "createdBy": "string",
                    "createdOn": "string",
                    "lastModifiedBy": "string",
                    "lastModifiedOn": "string",
                    "owner": "string",
                    "workspaceUsers": [
                      {
                        "workspaceId": "string",
                        "userId": "string",
                        "name": "string",
                        "email": "string",
                        "role": "Admin"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workspace"
        ],
        "summary": "Create a new workspace",
        "description": "Create a new workspace",
        "operationId": "Workspace_Add",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceWriteDTO"
              },
              "example": {
                "name": "string",
                "description": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceReadDTO"
                },
                "example": {
                  "workspaceId": "string",
                  "name": "string",
                  "description": "string",
                  "createdBy": "string",
                  "createdOn": "string",
                  "lastModifiedBy": "string",
                  "lastModifiedOn": "string",
                  "owner": "string",
                  "workspaceUsers": [
                    {
                      "workspaceId": "string",
                      "userId": "string",
                      "name": "string",
                      "email": "string",
                      "role": "Admin"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Show workspace details",
        "description": "Show workspace details",
        "operationId": "Workspace_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceReadDTO"
                },
                "example": {
                  "workspaceId": "string",
                  "name": "string",
                  "description": "string",
                  "createdBy": "string",
                  "createdOn": "string",
                  "lastModifiedBy": "string",
                  "lastModifiedOn": "string",
                  "owner": "string",
                  "workspaceUsers": [
                    {
                      "workspaceId": "string",
                      "userId": "string",
                      "name": "string",
                      "email": "string",
                      "role": "Admin"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Workspace"
        ],
        "summary": "Update workspace",
        "description": "Sample request body:\r\n\r\n\t{\r\n\t\t\"name\": \"string\",\r\n\t\t\"description\": \"string\"\r\n\t}",
        "operationId": "Workspace_UpdateWorkspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceWriteDTO"
              },
              "example": {
                "name": "string",
                "description": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceReadDTO"
                },
                "example": {
                  "workspaceId": "string",
                  "name": "string",
                  "description": "string",
                  "createdBy": "string",
                  "createdOn": "string",
                  "lastModifiedBy": "string",
                  "lastModifiedOn": "string",
                  "owner": "string",
                  "workspaceUsers": [
                    {
                      "workspaceId": "string",
                      "userId": "string",
                      "name": "string",
                      "email": "string",
                      "role": "Admin"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/containers": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Get a list of container sets",
        "description": "Default behavior: Name expanded\r\nOther fields are optionally expandable.\r\nTo serve the front-end, they will also need an option to provide/expand:\r\n- the name/shortname of the schema that the schema version belongs to\r\n- the id of the schema the version belongs to",
        "operationId": "Container_GetContainerList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContainerSetReadDTO"
                  }
                },
                "example": [
                  {
                    "containerSetId": "string",
                    "name": "string",
                    "workspaceId": "string",
                    "region": "string",
                    "createdOn": "string",
                    "createdBy": "string",
                    "lastModifiedOn": "string",
                    "lastModifiedBy": "string",
                    "validationFunctionId": "string",
                    "schemaId": "string",
                    "outputContainerId": "string"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workspace"
        ],
        "summary": "Create new container",
        "description": "Required user input is:\r\n- Container Name\r\n- Processing region instance \r\n- Schema ID",
        "operationId": "Container_AddContainer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerSetWriteDTO"
              },
              "example": {
                "name": "string",
                "region": "string",
                "schemaId": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerSetReadDTO"
                },
                "example": {
                  "containerSetId": "string",
                  "name": "string",
                  "workspaceId": "string",
                  "region": "string",
                  "createdOn": "string",
                  "createdBy": "string",
                  "lastModifiedOn": "string",
                  "lastModifiedBy": "string",
                  "validationFunctionId": "string",
                  "schemaId": "string",
                  "outputContainerId": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/containers/{containerId}": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Gets container details",
        "description": "Gets container details",
        "operationId": "Container_GetContainer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "containerId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerSetReadDTO"
                },
                "example": {
                  "containerSetId": "string",
                  "name": "string",
                  "workspaceId": "string",
                  "region": "string",
                  "createdOn": "string",
                  "createdBy": "string",
                  "lastModifiedOn": "string",
                  "lastModifiedBy": "string",
                  "validationFunctionId": "string",
                  "schemaId": "string",
                  "outputContainerId": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace"
        ],
        "summary": "Removes a container",
        "description": "Removes a container",
        "operationId": "Container_Remove",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "containerId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/schemaColumns/{columnId}": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Gets the specified schema column",
        "description": "Gets the specified schema column",
        "operationId": "Schema_GetSchemaColumn",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "columnId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaColumnReadDTO"
                },
                "example": {
                  "schemaColumnId": 0,
                  "name": "string",
                  "schemaVersionId": "string",
                  "mustBePresent": true,
                  "columnOrder": 0,
                  "metaFormat": "string",
                  "columnValidators": [
                    {
                      "schemaColumnId": 0,
                      "columnValidatorId": 0,
                      "validatorName": "string",
                      "severity": "Error"
                    }
                  ],
                  "schemaColumnType": "Validation",
                  "metaType": "NotApplicable"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/schemas": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "List all workspace schemas",
        "description": "List all workspace schemas",
        "operationId": "Schema_GetSchemaList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SchemaReadDTO"
                  }
                },
                "example": [
                  {
                    "schemaId": "string",
                    "name": "string",
                    "shortName": "string",
                    "description": "string",
                    "isPredefined": true,
                    "industryId": "string",
                    "workspaceId": "string",
                    "createdBy": "string"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workspace"
        ],
        "summary": "Create a new schema with all the details",
        "description": "Create a new schema with all the details",
        "operationId": "Schema_Add",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaWithVersionWriteDTO"
              },
              "example": {
                "name": "string",
                "shortName": "string",
                "description": "string",
                "version": {
                  "rowValidators": [
                    {
                      "name": "string",
                      "checkParameter": "string",
                      "columnsToCheck": [
                        "string"
                      ],
                      "columnsToAffect": [
                        "string"
                      ],
                      "logicalOperator": "And",
                      "rowValidatorType": "RequiredIfNotNull"
                    }
                  ],
                  "schemaColumns": [
                    {
                      "name": "string",
                      "mustBePresent": true,
                      "columnOrder": 0,
                      "metaFormat": "string",
                      "columnValidators": [
                        {
                          "columnValidatorId": 0,
                          "severity": "Error"
                        }
                      ],
                      "schemaColumnType": "Validation",
                      "metaType": "NotApplicable"
                    }
                  ],
                  "description": "string"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaDetails"
                },
                "example": {
                  "schemaId": "string",
                  "name": "string",
                  "shortName": "string",
                  "description": "string",
                  "isPredefined": true,
                  "workspaceId": "string",
                  "activeVersion": {
                    "schemaVersionId": "string",
                    "schemaId": "string",
                    "version": 0,
                    "isActive": true,
                    "schemaColumns": [
                      {
                        "schemaColumnId": 0,
                        "name": "string",
                        "schemaVersionId": "string",
                        "mustBePresent": true,
                        "columnOrder": 0,
                        "metaFormat": "string",
                        "columnValidators": [
                          {
                            "schemaColumnId": 0,
                            "columnValidatorId": 0,
                            "validatorName": "string",
                            "severity": "Error"
                          }
                        ],
                        "schemaColumnType": "Validation",
                        "metaType": "NotApplicable"
                      }
                    ],
                    "rowValidators": [
                      {
                        "rowValidatorId": "string",
                        "schemaVersionId": "string",
                        "name": "string",
                        "checkParameter": "string",
                        "columnsToCheck": [
                          {
                            "rowValidatorId": "string",
                            "schemaColumnId": 0,
                            "columnName": "string",
                            "relationship": "Affect"
                          }
                        ],
                        "columnsToAffect": [
                          {
                            "rowValidatorId": "string",
                            "schemaColumnId": 0,
                            "columnName": "string",
                            "relationship": "Affect"
                          }
                        ],
                        "logicalOperator": "And",
                        "rowValidatorType": "RequiredIfNotNull"
                      }
                    ],
                    "description": "string",
                    "createdBy": "string"
                  },
                  "versions": [
                    {
                      "schemaVersionId": "string",
                      "schemaId": "string",
                      "version": 0,
                      "isActive": true,
                      "schemaColumns": [
                        {
                          "schemaColumnId": 0,
                          "name": "string",
                          "schemaVersionId": "string",
                          "mustBePresent": true,
                          "columnOrder": 0,
                          "metaFormat": "string",
                          "columnValidators": [
                            {
                              "schemaColumnId": 0,
                              "columnValidatorId": 0,
                              "validatorName": "string",
                              "severity": "Error"
                            }
                          ],
                          "schemaColumnType": "Validation",
                          "metaType": "NotApplicable"
                        }
                      ],
                      "rowValidators": [
                        {
                          "rowValidatorId": "string",
                          "schemaVersionId": "string",
                          "name": "string",
                          "checkParameter": "string",
                          "columnsToCheck": [
                            {
                              "rowValidatorId": "string",
                              "schemaColumnId": 0,
                              "columnName": "string",
                              "relationship": "Affect"
                            }
                          ],
                          "columnsToAffect": [
                            {
                              "rowValidatorId": "string",
                              "schemaColumnId": 0,
                              "columnName": "string",
                              "relationship": "Affect"
                            }
                          ],
                          "logicalOperator": "And",
                          "rowValidatorType": "RequiredIfNotNull"
                        }
                      ],
                      "description": "string",
                      "createdBy": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/schemas/{schemaId}": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Gets the specified schema with the details of its active version",
        "description": "Gets the specified schema with the details of its active version",
        "operationId": "Schema_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaDetails"
                },
                "example": {
                  "schemaId": "string",
                  "name": "string",
                  "shortName": "string",
                  "description": "string",
                  "isPredefined": true,
                  "workspaceId": "string",
                  "activeVersion": {
                    "schemaVersionId": "string",
                    "schemaId": "string",
                    "version": 0,
                    "isActive": true,
                    "schemaColumns": [
                      {
                        "schemaColumnId": 0,
                        "name": "string",
                        "schemaVersionId": "string",
                        "mustBePresent": true,
                        "columnOrder": 0,
                        "metaFormat": "string",
                        "columnValidators": [
                          {
                            "schemaColumnId": 0,
                            "columnValidatorId": 0,
                            "validatorName": "string",
                            "severity": "Error"
                          }
                        ],
                        "schemaColumnType": "Validation",
                        "metaType": "NotApplicable"
                      }
                    ],
                    "rowValidators": [
                      {
                        "rowValidatorId": "string",
                        "schemaVersionId": "string",
                        "name": "string",
                        "checkParameter": "string",
                        "columnsToCheck": [
                          {
                            "rowValidatorId": "string",
                            "schemaColumnId": 0,
                            "columnName": "string",
                            "relationship": "Affect"
                          }
                        ],
                        "columnsToAffect": [
                          {
                            "rowValidatorId": "string",
                            "schemaColumnId": 0,
                            "columnName": "string",
                            "relationship": "Affect"
                          }
                        ],
                        "logicalOperator": "And",
                        "rowValidatorType": "RequiredIfNotNull"
                      }
                    ],
                    "description": "string",
                    "createdBy": "string"
                  },
                  "versions": [
                    {
                      "schemaVersionId": "string",
                      "schemaId": "string",
                      "version": 0,
                      "isActive": true,
                      "schemaColumns": [
                        {
                          "schemaColumnId": 0,
                          "name": "string",
                          "schemaVersionId": "string",
                          "mustBePresent": true,
                          "columnOrder": 0,
                          "metaFormat": "string",
                          "columnValidators": [
                            {
                              "schemaColumnId": 0,
                              "columnValidatorId": 0,
                              "validatorName": "string",
                              "severity": "Error"
                            }
                          ],
                          "schemaColumnType": "Validation",
                          "metaType": "NotApplicable"
                        }
                      ],
                      "rowValidators": [
                        {
                          "rowValidatorId": "string",
                          "schemaVersionId": "string",
                          "name": "string",
                          "checkParameter": "string",
                          "columnsToCheck": [
                            {
                              "rowValidatorId": "string",
                              "schemaColumnId": 0,
                              "columnName": "string",
                              "relationship": "Affect"
                            }
                          ],
                          "columnsToAffect": [
                            {
                              "rowValidatorId": "string",
                              "schemaColumnId": 0,
                              "columnName": "string",
                              "relationship": "Affect"
                            }
                          ],
                          "logicalOperator": "And",
                          "rowValidatorType": "RequiredIfNotNull"
                        }
                      ],
                      "description": "string",
                      "createdBy": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Workspace"
        ],
        "summary": "Updates a schema",
        "description": "Request sample\r\n\r\n    {\r\n        \"op\": \"replace\",\r\n        \"path\": \"name\",\r\n        \"value\": \"new name\",\r\n        \"operationType\": null,  // not used\r\n        \"from\": null            // not used\r\n    }",
        "operationId": "Schema_Patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "example": [
                {
                  "operationType": "Add",
                  "path": "string",
                  "op": "string",
                  "from": "string",
                  "value": {}
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaReadDTO"
                },
                "example": {
                  "schemaId": "string",
                  "name": "string",
                  "shortName": "string",
                  "description": "string",
                  "isPredefined": true,
                  "industryId": "string",
                  "workspaceId": "string",
                  "createdBy": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace"
        ],
        "summary": "Removes a schema",
        "description": "Removes a schema",
        "operationId": "Schema_Remove",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/schemaVersions/{versionId}": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Gets a schema version details",
        "description": "Gets a schema version details",
        "operationId": "Schema_GetSchemaVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaVersionReadDTO"
                },
                "example": {
                  "schemaVersionId": "string",
                  "schemaId": "string",
                  "version": 0,
                  "isActive": true,
                  "schemaColumns": [
                    {
                      "schemaColumnId": 0,
                      "name": "string",
                      "schemaVersionId": "string",
                      "mustBePresent": true,
                      "columnOrder": 0,
                      "metaFormat": "string",
                      "columnValidators": [
                        {
                          "schemaColumnId": 0,
                          "columnValidatorId": 0,
                          "validatorName": "string",
                          "severity": "Error"
                        }
                      ],
                      "schemaColumnType": "Validation",
                      "metaType": "NotApplicable"
                    }
                  ],
                  "rowValidators": [
                    {
                      "rowValidatorId": "string",
                      "schemaVersionId": "string",
                      "name": "string",
                      "checkParameter": "string",
                      "columnsToCheck": [
                        {
                          "rowValidatorId": "string",
                          "schemaColumnId": 0,
                          "columnName": "string",
                          "relationship": "Affect"
                        }
                      ],
                      "columnsToAffect": [
                        {
                          "rowValidatorId": "string",
                          "schemaColumnId": 0,
                          "columnName": "string",
                          "relationship": "Affect"
                        }
                      ],
                      "logicalOperator": "And",
                      "rowValidatorType": "RequiredIfNotNull"
                    }
                  ],
                  "description": "string",
                  "createdBy": "string"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Workspace"
        ],
        "summary": "Updates schema version",
        "description": "Request sample\r\n\r\n    {\r\n        \"op\": \"replace\",\r\n        \"path\": \"name\",\r\n        \"value\": \"new name\",\r\n        \"operationType\": null,  // not used\r\n        \"from\": null            // not used\r\n    }",
        "operationId": "Schema_PatchSchemaVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "example": [
                {
                  "operationType": "Add",
                  "path": "string",
                  "op": "string",
                  "from": "string",
                  "value": {}
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaVersionReadDTO"
                },
                "example": {
                  "schemaVersionId": "string",
                  "schemaId": "string",
                  "version": 0,
                  "isActive": true,
                  "schemaColumns": [
                    {
                      "schemaColumnId": 0,
                      "name": "string",
                      "schemaVersionId": "string",
                      "mustBePresent": true,
                      "columnOrder": 0,
                      "metaFormat": "string",
                      "columnValidators": [
                        {
                          "schemaColumnId": 0,
                          "columnValidatorId": 0,
                          "validatorName": "string",
                          "severity": "Error"
                        }
                      ],
                      "schemaColumnType": "Validation",
                      "metaType": "NotApplicable"
                    }
                  ],
                  "rowValidators": [
                    {
                      "rowValidatorId": "string",
                      "schemaVersionId": "string",
                      "name": "string",
                      "checkParameter": "string",
                      "columnsToCheck": [
                        {
                          "rowValidatorId": "string",
                          "schemaColumnId": 0,
                          "columnName": "string",
                          "relationship": "Affect"
                        }
                      ],
                      "columnsToAffect": [
                        {
                          "rowValidatorId": "string",
                          "schemaColumnId": 0,
                          "columnName": "string",
                          "relationship": "Affect"
                        }
                      ],
                      "logicalOperator": "And",
                      "rowValidatorType": "RequiredIfNotNull"
                    }
                  ],
                  "description": "string",
                  "createdBy": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/schemaVersions/{versionId}/activate": {
      "patch": {
        "tags": [
          "Workspace"
        ],
        "summary": "Toogles the active status of schema version",
        "description": "Toogles the active status of schema version",
        "operationId": "Schema_UpdateSchemaVersionIsActive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaVersionReadDTO"
                },
                "example": {
                  "schemaVersionId": "string",
                  "schemaId": "string",
                  "version": 0,
                  "isActive": true,
                  "schemaColumns": [
                    {
                      "schemaColumnId": 0,
                      "name": "string",
                      "schemaVersionId": "string",
                      "mustBePresent": true,
                      "columnOrder": 0,
                      "metaFormat": "string",
                      "columnValidators": [
                        {
                          "schemaColumnId": 0,
                          "columnValidatorId": 0,
                          "validatorName": "string",
                          "severity": "Error"
                        }
                      ],
                      "schemaColumnType": "Validation",
                      "metaType": "NotApplicable"
                    }
                  ],
                  "rowValidators": [
                    {
                      "rowValidatorId": "string",
                      "schemaVersionId": "string",
                      "name": "string",
                      "checkParameter": "string",
                      "columnsToCheck": [
                        {
                          "rowValidatorId": "string",
                          "schemaColumnId": 0,
                          "columnName": "string",
                          "relationship": "Affect"
                        }
                      ],
                      "columnsToAffect": [
                        {
                          "rowValidatorId": "string",
                          "schemaColumnId": 0,
                          "columnName": "string",
                          "relationship": "Affect"
                        }
                      ],
                      "logicalOperator": "And",
                      "rowValidatorType": "RequiredIfNotNull"
                    }
                  ],
                  "description": "string",
                  "createdBy": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/schemaVersions/{versionId}/columns": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Gets columns by schema version Id",
        "description": "Gets columns by schema version Id",
        "operationId": "Schema_GetColumnList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SchemaColumnReadDTO"
                  }
                },
                "example": [
                  {
                    "schemaColumnId": 0,
                    "name": "string",
                    "schemaVersionId": "string",
                    "mustBePresent": true,
                    "columnOrder": 0,
                    "metaFormat": "string",
                    "columnValidators": [
                      {
                        "schemaColumnId": 0,
                        "columnValidatorId": 0,
                        "validatorName": "string",
                        "severity": "Error"
                      }
                    ],
                    "schemaColumnType": "Validation",
                    "metaType": "NotApplicable"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/schemaVersions/{versionId}/rowValidators": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Gets all the row validators by schema version Id",
        "description": "Gets all the row validators by schema version Id",
        "operationId": "Schema_GetRowValidatorList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RowValidatorReadDTO"
                  }
                },
                "example": [
                  {
                    "rowValidatorId": "string",
                    "schemaVersionId": "string",
                    "name": "string",
                    "checkParameter": "string",
                    "columnsToCheck": [
                      {
                        "rowValidatorId": "string",
                        "schemaColumnId": 0,
                        "columnName": "string",
                        "relationship": "Affect"
                      }
                    ],
                    "columnsToAffect": [
                      {
                        "rowValidatorId": "string",
                        "schemaColumnId": 0,
                        "columnName": "string",
                        "relationship": "Affect"
                      }
                    ],
                    "logicalOperator": "And",
                    "rowValidatorType": "RequiredIfNotNull"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/users": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "List all workspace members",
        "description": "List all workspace members",
        "operationId": "User_GetUserList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkspaceUserReadDTO"
                  }
                },
                "example": [
                  {
                    "workspaceId": "string",
                    "userId": "string",
                    "name": "string",
                    "email": "string",
                    "role": "Admin"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workspace"
        ],
        "summary": "Add a user to a workspace",
        "description": "Add a user to a workspace",
        "operationId": "User_AddUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUserWriteDTO"
              },
              "example": {
                "userId": "string",
                "role": "Admin"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceUserReadDTO"
                },
                "example": {
                  "workspaceId": "string",
                  "userId": "string",
                  "name": "string",
                  "email": "string",
                  "role": "Admin"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Workspace"
        ],
        "summary": "Change the role of a workspace member",
        "description": "Change the role of a workspace member",
        "operationId": "User_UpdateUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUserWriteDTO"
              },
              "example": {
                "userId": "string",
                "role": "Admin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/users/{userId}": {
      "delete": {
        "tags": [
          "Workspace"
        ],
        "summary": "Remove a member from a workspace",
        "description": "Remove a member from a workspace",
        "operationId": "User_RemoveUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/validators": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Lists all column validators by workspace Id",
        "description": "Lists all column validators by workspace Id",
        "operationId": "ColumnValidator_GetColumnValidatorList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includesPredefined",
            "in": "query",
            "description": "includes predefine validators in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ColumnValidatorReadDTO"
                  }
                },
                "example": [
                  {
                    "columnValidatorId": 0,
                    "message": "string",
                    "name": "string",
                    "isPredefined": true,
                    "workspaceId": "string",
                    "validationType": "Length",
                    "max": 0,
                    "min": 0,
                    "regex": "string",
                    "type": "string",
                    "createdBy": "string",
                    "createdOn": "string"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workspace"
        ],
        "summary": "Add a column validator to a workspace",
        "description": "Add a column validator to a workspace",
        "operationId": "ColumnValidator_AddColumnValidator",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ColumnValidatorWriteDTO"
              },
              "example": {
                "message": "string",
                "name": "string",
                "validationType": "Length",
                "max": 0,
                "min": 0,
                "regex": "string",
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnValidatorReadDTO"
                },
                "example": {
                  "columnValidatorId": 0,
                  "message": "string",
                  "name": "string",
                  "isPredefined": true,
                  "workspaceId": "string",
                  "validationType": "Length",
                  "max": 0,
                  "min": 0,
                  "regex": "string",
                  "type": "string",
                  "createdBy": "string",
                  "createdOn": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/validators/{validatorId}": {
      "put": {
        "tags": [
          "Workspace"
        ],
        "summary": "Updates a column validator",
        "description": "Updates a column validator",
        "operationId": "ColumnValidator_UpdateColumnValidator",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validatorId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ColumnValidatorWriteDTO"
              },
              "example": {
                "message": "string",
                "name": "string",
                "validationType": "Length",
                "max": 0,
                "min": 0,
                "regex": "string",
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnValidatorReadDTO"
                },
                "example": {
                  "columnValidatorId": 0,
                  "message": "string",
                  "name": "string",
                  "isPredefined": true,
                  "workspaceId": "string",
                  "validationType": "Length",
                  "max": 0,
                  "min": 0,
                  "regex": "string",
                  "type": "string",
                  "createdBy": "string",
                  "createdOn": "string"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Gets a column validator",
        "description": "Gets a column validator",
        "operationId": "ColumnValidator_GetColumnValidator",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validatorId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnValidatorReadDTO"
                },
                "example": {
                  "columnValidatorId": 0,
                  "message": "string",
                  "name": "string",
                  "isPredefined": true,
                  "workspaceId": "string",
                  "validationType": "Length",
                  "max": 0,
                  "min": 0,
                  "regex": "string",
                  "type": "string",
                  "createdBy": "string",
                  "createdOn": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace"
        ],
        "summary": "Removes a column validator",
        "description": "Removes a column validator",
        "operationId": "ColumnValidator_RemoveColumnValidator",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validatorId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/schemas/{schemaId}/versions": {
      "post": {
        "tags": [
          "Schema"
        ],
        "summary": "Adds a version to a pre-defined schema",
        "description": "Adds a version to a pre-defined schema",
        "operationId": "Schema_AddPredefinedSchemaVersion",
        "parameters": [
          {
            "name": "schemaId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaVersionWriteDTO"
              },
              "example": {
                "rowValidators": [
                  {
                    "name": "string",
                    "checkParameter": "string",
                    "columnsToCheck": [
                      "string"
                    ],
                    "columnsToAffect": [
                      "string"
                    ],
                    "logicalOperator": "And",
                    "rowValidatorType": "RequiredIfNotNull"
                  }
                ],
                "schemaColumns": [
                  {
                    "name": "string",
                    "mustBePresent": true,
                    "columnOrder": 0,
                    "metaFormat": "string",
                    "columnValidators": [
                      {
                        "columnValidatorId": 0,
                        "severity": "Error"
                      }
                    ],
                    "schemaColumnType": "Validation",
                    "metaType": "NotApplicable"
                  }
                ],
                "description": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaVersionReadDTO"
                },
                "example": {
                  "schemaVersionId": "string",
                  "schemaId": "string",
                  "version": 0,
                  "isActive": true,
                  "schemaColumns": [
                    {
                      "schemaColumnId": 0,
                      "name": "string",
                      "schemaVersionId": "string",
                      "mustBePresent": true,
                      "columnOrder": 0,
                      "metaFormat": "string",
                      "columnValidators": [
                        {
                          "schemaColumnId": 0,
                          "columnValidatorId": 0,
                          "validatorName": "string",
                          "severity": "Error"
                        }
                      ],
                      "schemaColumnType": "Validation",
                      "metaType": "NotApplicable"
                    }
                  ],
                  "rowValidators": [
                    {
                      "rowValidatorId": "string",
                      "schemaVersionId": "string",
                      "name": "string",
                      "checkParameter": "string",
                      "columnsToCheck": [
                        {
                          "rowValidatorId": "string",
                          "schemaColumnId": 0,
                          "columnName": "string",
                          "relationship": "Affect"
                        }
                      ],
                      "columnsToAffect": [
                        {
                          "rowValidatorId": "string",
                          "schemaColumnId": 0,
                          "columnName": "string",
                          "relationship": "Affect"
                        }
                      ],
                      "logicalOperator": "And",
                      "rowValidatorType": "RequiredIfNotNull"
                    }
                  ],
                  "description": "string",
                  "createdBy": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/schemas/schemaVersions/{versionId}": {
      "get": {
        "tags": [
          "Schema"
        ],
        "summary": "Gets a pre-defined schema version details",
        "description": "Gets a pre-defined schema version details",
        "operationId": "Schema_GetPredefinedSchemaVersion",
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaVersionReadDTO"
                },
                "example": {
                  "schemaVersionId": "string",
                  "schemaId": "string",
                  "version": 0,
                  "isActive": true,
                  "schemaColumns": [
                    {
                      "schemaColumnId": 0,
                      "name": "string",
                      "schemaVersionId": "string",
                      "mustBePresent": true,
                      "columnOrder": 0,
                      "metaFormat": "string",
                      "columnValidators": [
                        {
                          "schemaColumnId": 0,
                          "columnValidatorId": 0,
                          "validatorName": "string",
                          "severity": "Error"
                        }
                      ],
                      "schemaColumnType": "Validation",
                      "metaType": "NotApplicable"
                    }
                  ],
                  "rowValidators": [
                    {
                      "rowValidatorId": "string",
                      "schemaVersionId": "string",
                      "name": "string",
                      "checkParameter": "string",
                      "columnsToCheck": [
                        {
                          "rowValidatorId": "string",
                          "schemaColumnId": 0,
                          "columnName": "string",
                          "relationship": "Affect"
                        }
                      ],
                      "columnsToAffect": [
                        {
                          "rowValidatorId": "string",
                          "schemaColumnId": 0,
                          "columnName": "string",
                          "relationship": "Affect"
                        }
                      ],
                      "logicalOperator": "And",
                      "rowValidatorType": "RequiredIfNotNull"
                    }
                  ],
                  "description": "string",
                  "createdBy": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/worker/containers/{containerId}/validationsummary": {
      "post": {
        "tags": [
          "WorkerFunctions"
        ],
        "summary": "Save Validation Summary of uploaded file on source container",
        "description": "Save Validation Summary of uploaded file on source container",
        "operationId": "WorkerFunctions_AddValidationSummary",
        "parameters": [
          {
            "name": "containerId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidationSummaryWriteDTO"
              },
              "example": {
                "region": "string",
                "createdOn": "string",
                "schemaId": "string",
                "recordsProcessed": 0,
                "recordsFailed": 0,
                "failedValidations": 0,
                "validationsCount": 0
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "example": "string"
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/schemas/{schemaId}/versions": {
      "post": {
        "tags": [
          "Workspace"
        ],
        "summary": "Adds a new schema version",
        "description": "Adds a new schema version",
        "operationId": "Schema_AddSchemaVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaVersionWriteDTO"
              },
              "example": {
                "rowValidators": [
                  {
                    "name": "string",
                    "checkParameter": "string",
                    "columnsToCheck": [
                      "string"
                    ],
                    "columnsToAffect": [
                      "string"
                    ],
                    "logicalOperator": "And",
                    "rowValidatorType": "RequiredIfNotNull"
                  }
                ],
                "schemaColumns": [
                  {
                    "name": "string",
                    "mustBePresent": true,
                    "columnOrder": 0,
                    "metaFormat": "string",
                    "columnValidators": [
                      {
                        "columnValidatorId": 0,
                        "severity": "Error"
                      }
                    ],
                    "schemaColumnType": "Validation",
                    "metaType": "NotApplicable"
                  }
                ],
                "description": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaVersionReadDTO"
                },
                "example": {
                  "schemaVersionId": "string",
                  "schemaId": "string",
                  "version": 0,
                  "isActive": true,
                  "schemaColumns": [
                    {
                      "schemaColumnId": 0,
                      "name": "string",
                      "schemaVersionId": "string",
                      "mustBePresent": true,
                      "columnOrder": 0,
                      "metaFormat": "string",
                      "columnValidators": [
                        {
                          "schemaColumnId": 0,
                          "columnValidatorId": 0,
                          "validatorName": "string",
                          "severity": "Error"
                        }
                      ],
                      "schemaColumnType": "Validation",
                      "metaType": "NotApplicable"
                    }
                  ],
                  "rowValidators": [
                    {
                      "rowValidatorId": "string",
                      "schemaVersionId": "string",
                      "name": "string",
                      "checkParameter": "string",
                      "columnsToCheck": [
                        {
                          "rowValidatorId": "string",
                          "schemaColumnId": 0,
                          "columnName": "string",
                          "relationship": "Affect"
                        }
                      ],
                      "columnsToAffect": [
                        {
                          "rowValidatorId": "string",
                          "schemaColumnId": 0,
                          "columnName": "string",
                          "relationship": "Affect"
                        }
                      ],
                      "logicalOperator": "And",
                      "rowValidatorType": "RequiredIfNotNull"
                    }
                  ],
                  "description": "string",
                  "createdBy": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/worker/containers/{containerId}": {
      "get": {
        "tags": [
          "WorkerFunctions"
        ],
        "summary": "Gets basic container set info and schema info",
        "description": "Gets basic container set info and schema info",
        "operationId": "WorkerFunctions_GetContainerSetByContainerId",
        "parameters": [
          {
            "name": "containerId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerSetWithSchemaInfoReadDTO"
                },
                "example": {
                  "containerSetId": "string",
                  "name": "string",
                  "workspaceId": "string",
                  "region": "string",
                  "createdOn": "string",
                  "createdBy": "string",
                  "lastModifiedOn": "string",
                  "lastModifiedBy": "string",
                  "validationFunctionId": "string",
                  "schemaId": "string",
                  "outputContainerId": "string",
                  "schemaName": "string",
                  "schemaShortName": "string",
                  "schemaDescription": "string",
                  "schemaIsPredefined": true
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/datacollectsas": {
      "put": {
        "tags": [
          "Workspace"
        ],
        "summary": "Update data collect SAS URL",
        "description": "Update data collect SAS URL",
        "operationId": "Workspace_UpdateDataCollectSAS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SASDTO"
              },
              "example": {
                "url": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                },
                "example": "True"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Get data collect SAS URL",
        "description": "Get data collect SAS URL",
        "operationId": "Workspace_GetDataCollectSAS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SASDTO"
                },
                "example": {
                  "url": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/schemaVersions/{schemaVersionId}": {
      "delete": {
        "tags": [
          "Workspace"
        ],
        "summary": "Removes a schema version",
        "description": "Removes a schema version",
        "operationId": "Schema_RemoveSchemaVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. workspace Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaVersionId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ColumnValidatorColumnReadDTO": {
        "type": "object",
        "properties": {
          "schemaColumnId": {
            "type": "integer",
            "format": "int32"
          },
          "columnValidatorId": {
            "type": "integer",
            "format": "int32"
          },
          "validatorName": {
            "type": "string",
            "nullable": true
          },
          "severity": {
            "$ref": "#/components/schemas/Severity"
          }
        }
      },
      "ColumnValidatorColumnWriteDTO": {
        "type": "object",
        "properties": {
          "columnValidatorId": {
            "type": "integer",
            "format": "int32"
          },
          "severity": {
            "$ref": "#/components/schemas/Severity"
          }
        }
      },
      "ColumnValidatorReadDTO": {
        "type": "object",
        "properties": {
          "columnValidatorId": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "isPredefined": {
            "type": "boolean"
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "validationType": {
            "$ref": "#/components/schemas/ValidationType"
          },
          "max": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "min": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "regex": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ColumnValidatorWriteDTO": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "validationType": {
            "$ref": "#/components/schemas/ValidationType"
          },
          "max": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "min": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "regex": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ContainerSetReadDTO": {
        "type": "object",
        "properties": {
          "containerSetId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid"
          },
          "region": {
            "type": "string",
            "nullable": true
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "format": "uuid"
          },
          "lastModifiedOn": {
            "type": "string",
            "format": "date-time"
          },
          "lastModifiedBy": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "validationFunctionId": {
            "type": "string",
            "format": "uuid"
          },
          "schemaId": {
            "type": "string",
            "format": "uuid"
          },
          "outputContainerId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ContainerSetWithSchemaInfoReadDTO": {
        "type": "object",
        "properties": {
          "containerSetId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid"
          },
          "region": {
            "type": "string",
[...]
