{
  "openapi": "3.0.1",
  "info": {
    "title": "Veracity Services API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.veracity.com/Veracity/Services/V3"
    }
  ],
  "paths": {
    "/directory/companies/{id}": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "CompaniesDirectory_CompanyById",
        "description": "Get the detailed company description",
        "operationId": "CompaniesDirectory_CompanyById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfo"
                },
                "example": {
                  "name": "string",
                  "url": "string",
                  "usersUrl": "string",
                  "addressLines": [
                    "string"
                  ],
                  "id": "string",
                  "city": "string",
                  "country": "string",
                  "countryCode": "string",
                  "zipCode": "string",
                  "#employee": 0,
                  "domains": "string",
                  "email": "string",
                  "#requests": 0,
                  "internalId": "string",
                  "vat": "string"
                }
              }
            }
          }
        }
      }
    },
    "/directory/companies/{id}/users": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "CompaniesDirectory_GetUsersByCompany",
        "description": "Get users affiliated with the company. Paged query: uses 0 based page index",
        "operationId": "CompaniesDirectory_GetUsersByCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserReferenceArray"
                },
                "example": [
                  {
                    "identity": "string",
                    "email": "string",
                    "activated": true,
                    "name": "string",
                    "id": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/directory/services/{serviceId}/datacontainers": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "DataContainerService_GetDataContainers",
        "description": "Get associated data containers for the service",
        "operationId": "DataContainerService_GetDataContainers",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemReferenceArray"
                },
                "example": [
                  {
                    "name": "string",
                    "id": "string",
                    "description": "string",
                    "identity": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/directory/services/{serviceId}/datacontainers/{id}": {
      "put": {
        "tags": [
          "Directory"
        ],
        "summary": "DataContainerService_CreateDataContainer",
        "description": "Create a data container reference",
        "operationId": "DataContainerService_CreateDataContainer",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryServicesServiceIdDatacontainersIdPut200ApplicationJsonResponse"
                },
                "example": "string"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Directory"
        ],
        "summary": "DataContainerService_DeleteDataContainer",
        "description": "Delete a data container reference",
        "operationId": "DataContainerService_DeleteDataContainer",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/my/profile": {
      "get": {
        "tags": [
          "My"
        ],
        "summary": "My_Info",
        "description": "Retreives the profile of the current logged in user. Note that we will remove the company node from the result in the future",
        "operationId": "My_Info",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyUserInfo"
                },
                "example": {
                  "profilePageUrl": "string",
                  "messagesUrl": "string",
                  "identity": "string",
                  "servicesUrl": "string",
                  "companiesUrl": "string",
                  "name": "string",
                  "email": "string",
                  "id": "string",
                  "#companies": 0,
                  "verifiedEmail": true,
                  "language": "string",
                  "phone": "string",
                  "verifiedPhone": true,
                  "firstName": "string",
                  "lastName": "string",
                  "countryCode": "string",
                  "managedAccount": true,
                  "activated": true
                }
              }
            }
          }
        }
      }
    },
    "/my/picture": {
      "get": {
        "tags": [
          "My"
        ],
        "summary": "My_ProfilePicture",
        "description": "Retreives the profile picture of the current logegd in user if one is set, otherwise a 404 is returned",
        "operationId": "My_ProfilePicture",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilePicture"
                },
                "example": {
                  "Image": "string",
                  "MimeType": "string"
                }
              }
            }
          }
        }
      }
    },
    "/my/messages/count": {
      "get": {
        "tags": [
          "My"
        ],
        "summary": "My_GetMessageCount",
        "description": "Get the current loged in users unread messages count",
        "operationId": "My_GetMessageCount",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyMessagesCountGet200ApplicationJsonResponse"
                },
                "example": 0
              }
            }
          }
        }
      }
    },
    "/my/messages": {
      "get": {
        "tags": [
          "My"
        ],
        "summary": "My_GetMessagesAsync",
        "description": "Read the users messages. All: include read messages",
        "operationId": "My_GetMessagesAsync",
        "parameters": [
          {
            "name": "all",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageReferenceArray"
                },
                "example": [
                  {
                    "identity": "string",
                    "deliverTime": "string",
                    "from": "string",
                    "important": true,
                    "name": "string",
                    "id": "string",
                    "description": "string"
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "My"
        ],
        "summary": "My_MarkAllMessagesAsRead",
        "description": "Marks all unread messages as read",
        "operationId": "My_MarkAllMessagesAsRead",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/my/companies": {
      "get": {
        "tags": [
          "My"
        ],
        "summary": "My_GetMyCompanies",
        "description": "Get all companies related to the current user",
        "operationId": "My_GetMyCompanies",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyReferenceArray"
                },
                "example": [
                  {
                    "identity": "string",
                    "name": "string",
                    "id": "string",
                    "description": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/my/policies/{serviceId}/validate()": {
      "get": {
        "tags": [
          "My"
        ],
        "summary": "My_ValidatePolicy",
        "description": "Validates all myDnvgl policies and returns a list of the policies that needs attention",
        "operationId": "My_ValidatePolicy",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnUrl",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skipSubscriptionCheck",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/my/policies/validate()": {
      "get": {
        "tags": [
          "My"
        ],
        "summary": "My_ValidatePolicies",
        "description": "Validates all myDnvgl policies and returns a list of the policies that needs attention",
        "operationId": "My_ValidatePolicies",
        "parameters": [
          {
            "name": "returnUrl",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/my/services": {
      "get": {
        "tags": [
          "My"
        ],
        "summary": "My_MyServices",
        "description": "Returns all services for the user",
        "operationId": "My_MyServices",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyServiceReferenceArray"
                },
                "example": [
                  {
                    "serviceUrl": "string",
                    "identity": "string",
                    "ProductionService": true,
                    "name": "string",
                    "id": "string",
                    "description": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/my/widgets": {
      "get": {
        "tags": [
          "My"
        ],
        "summary": "My_GetMyWidgets",
        "description": "Returns all widgets for the user. Mainly intended to be used by the Veracity Mobile app.",
        "operationId": "My_GetMyWidgets",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetArray"
                },
                "example": [
                  {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "url": "string",
                    "name": "string",
                    "description": "string",
                    "logoUrl": "string",
                    "pictogramUrl": "string",
                    "type": "string",
                    "showTitle": true,
                    "supportsMobile": true,
                    "serviceId": "00000000-0000-0000-0000-000000000000",
                    "sequenceNo": 0,
                    "color": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/Status": {
      "get": {
        "tags": [
          "Options"
        ],
        "summary": "Options_ServiceStatus",
        "description": "Get the status of the service container.",
        "operationId": "Options_ServiceStatus",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusGet200ApplicationJsonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cache/invalidate/{id}": {
      "get": {
        "tags": [
          "Options"
        ],
        "summary": "Options_InvalidateCache",
        "description": "Invalidate the cached item with the provided id",
        "operationId": "Options_InvalidateCache",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/directory/services/{id}": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "ServicesDirectory_GetServiceById",
        "description": "Get the detailed service description by the provided id",
        "operationId": "ServicesDirectory_GetServiceById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceInfo"
                },
                "example": {
                  "name": "string",
                  "shortDescription": "string",
                  "description": "string",
                  "apiAudience": "string",
                  "category": "string",
                  "public": true,
                  "id": "string",
                  "inherited": true,
                  "selfSubscribe": true,
                  "serviceOwner": "string",
                  "termsOfUse": "string",
                  "lastUpdated": "string",
                  "parentUrl": "string",
                  "parentId": "string",
                  "childrenUrl": "string",
                  "servicerUrl": "string"
                }
              }
            }
          }
        }
      }
    },
    "/directory/services/{id}/users": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "ServicesDirectory_GetUsers",
        "description": "Get the list of users subscribing to the service. Paged query: uses 0 based page index",
        "operationId": "ServicesDirectory_GetUsers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserReferenceArray"
                },
                "example": [
                  {
                    "identity": "string",
                    "email": "string",
                    "activated": true,
                    "name": "string",
                    "id": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/directory/services/{serviceId}/administrators/{userId}": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "ServicesDirectory_IsAdmin",
        "operationId": "ServicesDirectory_IsAdmin",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryServicesServiceIdAdministratorsUserIdGet200ApplicationJsonResponse"
                },
                "example": "True"
              }
            }
          }
        }
      }
    },
    "/health/status": {
      "get": {
        "tags": [
          "StatusService"
        ],
        "summary": "StatusService_GetServiceHealthStatus",
        "description": "Returns 200 when all dependencies are ok, 424 if there are some non essential dependency failures and 500 when essential dependencies are unreachable or the service is down",
        "operationId": "StatusService_GetServiceHealthStatus",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                },
                "example": {
                  "checks": [
                    {
                      "componentId": "string",
                      "componentType": "string",
                      "observedValue": {},
                      "observedUnit": "string",
                      "status": "pass",
                      "affectedEndpoints": [
                        "string"
                      ],
                      "time": "string",
                      "output": "string",
                      "weight": 0,
                      "critical": true
                    }
                  ],
                  "status": "pass",
                  "serviceId": "string",
                  "releaseId": "string",
                  "version": "string",
                  "description": "string",
                  "notes": [
                    "string"
                  ],
                  "output": "string",
                  "message": "string",
                  "information": "string",
                  "subCode": 0,
                  "supportCode": "string"
                }
              }
            }
          }
        }
      }
    },
    "/this/services": {
      "get": {
        "tags": [
          "This"
        ],
        "summary": "This_GetServices",
        "description": "Get all services the service principal has access to. Currently not 100% accurate. Paged query: uses 0 based page index",
        "operationId": "This_GetServices",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceReferenceArray"
                },
                "example": [
                  {
                    "identity": "string",
                    "ProductionService": true,
                    "name": "string",
                    "id": "string",
                    "description": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/this/subscribers": {
      "get": {
        "tags": [
          "This"
        ],
        "summary": "This_GetUsers",
        "description": "Get all users with a subscription to this service. Paged query: uses 0 based page index .Warning: returns http 300 Ambiguous if service account is linked to multiple services",
        "operationId": "This_GetUsers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserReferenceArray"
                },
                "example": [
                  {
                    "identity": "string",
                    "email": "string",
                    "activated": true,
                    "name": "string",
                    "id": "string"
                  }
                ]
              }
            }
          },
          "300": {
            "description": "Multiple services registered for clientId ",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "message": "string",
                  "information": "string",
                  "subCode": 0,
                  "supportCode": "string"
                }
              }
            }
          }
        }
      }
    },
    "/this/subscribers/{userId}": {
      "get": {
        "tags": [
          "This"
        ],
        "summary": "This_GetServiceUser",
        "description": "Get all users with a subscription to this service. Paged query: uses 0 based page index. Warning: returns http 300 Ambiguous if service account is linked to multiple services",
        "operationId": "This_GetServiceUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionReference"
                },
                "example": {
                  "state": "string",
                  "role": "string",
                  "identity": "string",
                  "email": "string",
                  "activated": true,
                  "name": "string",
                  "id": "string"
                }
              }
            }
          },
          "300": {
            "description": "Multiple services registered for clientId ",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "message": "string",
                  "information": "string",
                  "subCode": 0,
                  "supportCode": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "This"
        ],
        "summary": "This_AddUserAsync",
        "description": "Add a user subscription to the service. Warning: returns http 300 Ambiguous if service account is linked to multiple services",
        "operationId": "This_AddUserAsync",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionOptions"
              },
              "example": {
                "role": "string",
                "overrideNotificationSettings": "send"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "300": {
            "description": "Multiple services registered for clientId ",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "This"
        ],
        "summary": "This_RemoveUser",
        "description": "Remove servive subscription from the user ",
        "operationId": "This_RemoveUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "300": {
            "description": "Multiple services registered for clientId ",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/this/services/{serviceId}/subscribers/{userId}": {
      "get": {
        "tags": [
          "This"
        ],
        "summary": "This_GetUserForService",
        "description": "Checks if a user has a subscription to the service and the access level if any.",
        "operationId": "This_GetUserForService",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionReference"
                },
                "example": {
                  "state": "string",
                  "role": "string",
                  "identity": "string",
                  "email": "string",
                  "activated": true,
                  "name": "string",
                  "id": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "This"
        ],
        "summary": "This_AddServiceUser",
        "description": "Add a user subscription to the service with the provided id .Only available for the root service for nested services",
        "operationId": "This_AddServiceUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionOptions"
              },
              "example": {
                "role": "string",
                "overrideNotificationSettings": "send"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "This"
        ],
        "summary": "This_RemoveServiceUser",
        "description": "Remove servive subscription from the user .Only available for the root service for nested services",
        "operationId": "This_RemoveServiceUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressNotification",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/this/services/{serviceId}/subscribers/{userId}/picture": {
      "get": {
        "tags": [
          "This"
        ],
        "summary": "This_GetUserProfilePicture",
        "description": "Gets the profile picture of the user if there is a subscription and the user has uploaded a profile picture to veracity",
        "operationId": "This_GetUserProfilePicture",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilePicture"
                },
                "example": {
                  "Image": "string",
                  "MimeType": "string"
                }
              }
            }
          }
        }
      }
    },
    "/this/services/{serviceId}/subscribers": {
      "get": {
        "tags": [
          "This"
        ],
        "summary": "This_GetUsersForService",
        "description": "Get all users with a subscription to this service. Paged query: uses 0 based page index",
        "operationId": "This_GetUsersForService",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserReferenceArray"
                },
                "example": [
                  {
                    "identity": "string",
                    "email": "string",
                    "activated": true,
                    "name": "string",
                    "id": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/this/user/resolve({email})": {
      "get": {
        "tags": [
          "This"
        ],
        "summary": "This_ResolveUser",
        "description": "Get the user id from the email address. Note that an email address may be connected to more than one user account",
        "operationId": "This_ResolveUser",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserReferenceArray"
                },
                "example": [
                  {
                    "identity": "string",
                    "email": "string",
                    "activated": true,
                    "name": "string",
                    "id": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/this/user": {
      "post": {
        "tags": [
          "This"
        ],
        "summary": "This_CreateUser",
        "description": "Create a user in Veracity",
        "operationId": "This_CreateUser",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistration"
              },
              "example": {
                "firstName": "string",
                "lastName": "string",
                "email": "string",
                "phone": "string",
                "countryCode": "string",
                "options": {
                  "sendMail": true,
                  "createSubscription": true,
                  "serviceId": "string",
                  "role": "string",
                  "subscriptions": [
                    {
                      "serviceId": "string",
                      "role": "string",
                      "sku": "string",
                      "overrideNotificationSettings": "send"
                    }
                  ],
                  "returnUrl": "string",
                  "contactEmail": "string",
                  "contactName": "string",
                  "activationType": "emailLink",
                  "userCreationOptions": "all",
                  "inviteMessage": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCreationReference"
                },
                "example": {
                  "confirmationUrl": "string",
                  "identity": "string",
                  "email": "string",
                  "activated": true,
                  "name": "string",
                  "id": "string"
                }
              }
            }
          }
        }
      }
    },
    "/this/users": {
      "post": {
        "tags": [
          "This"
        ],
        "summary": "This_CreateUsers",
        "description": "Create a users in Veracity",
        "operationId": "This_CreateUsers",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationArray"
              },
              "example": [
                {
                  "firstName": "string",
                  "lastName": "string",
                  "email": "string",
                  "phone": "string",
                  "countryCode": "string",
                  "options": {
                    "sendMail": true,
                    "createSubscription": true,
                    "serviceId": "string",
                    "role": "string",
                    "subscriptions": [
                      {
                        "serviceId": "string",
                        "role": "string",
                        "sku": "string",
                        "overrideNotificationSettings": "send"
                      }
                    ],
                    "returnUrl": "string",
                    "contactEmail": "string",
                    "contactName": "string",
                    "activationType": "emailLink",
                    "userCreationOptions": "all",
                    "inviteMessage": "string"
                  }
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCreationReferenceArray"
                },
                "example": [
                  {
                    "confirmationUrl": "string",
                    "identity": "string",
                    "email": "string",
                    "activated": true,
                    "name": "string",
                    "id": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/this/services/{serviceId}/notification": {
      "post": {
        "tags": [
          "This"
        ],
        "summary": "This_NotifyUsers",
        "description": "Send notification to your users through the Veracity notification service",
        "operationId": "This_NotifyUsers",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationMessage"
              },
              "example": {
                "message": {
                  "name": "string",
                  "content": "string",
                  "id": "string",
                  "timeStamp": "string",
                  "channelId": "string",
                  "type": 0
                },
                "recipients": [
                  "string"
                ],
                "HighPriority": true
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/this/services/{serviceId}/subscribers/{userId}/policy/validate()": {
      "get": {
        "tags": [
          "This"
        ],
        "summary": "This_VerifySubscriberPolicy",
        "operationId": "This_VerifySubscriberPolicy",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnUrl",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skipSubscriptionCheck",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/directory/users/by/email": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_GetUsersByEmail",
        "description": "Gets a list of users with a given email address",
        "operationId": "UsersDirectory_GetUsersByEmail",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserReferenceArray"
                },
                "example": [
                  {
                    "identity": "string",
                    "email": "string",
                    "activated": true,
                    "name": "string",
                    "id": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/directory/users/{userid}": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_GetUser",
        "description": "Returns the full profile for the user with the provided id",
        "operationId": "UsersDirectory_GetUser",
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                },
                "example": {
                  "name": "string",
                  "email": "string",
                  "id": "string",
                  "#companies": 0,
                  "verifiedEmail": true,
                  "language": "string",
                  "identity": "string",
                  "phone": "string",
                  "verifiedPhone": true,
                  "servicesUrl": "string",
                  "companiesUrl": "string",
                  "firstName": "string",
                  "lastName": "string",
                  "countryCode": "string",
                  "managedAccount": true,
                  "activated": true
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_DeleteUser",
        "description": "Delete user",
        "operationId": "UsersDirectory_DeleteUser",
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/directory/users": {
      "post": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_GetUsersIn",
        "description": "Get full user profiles for a list of userid's",
        "operationId": "UsersDirectory_GetUsersIn",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ids"
              },
              "example": [
                "string"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoArray"
                },
                "example": [
                  {
                    "name": "string",
                    "email": "string",
                    "id": "string",
                    "#companies": 0,
                    "verifiedEmail": true,
                    "language": "string",
                    "identity": "string",
                    "phone": "string",
                    "verifiedPhone": true,
                    "servicesUrl": "string",
                    "companiesUrl": "string",
                    "firstName": "string",
                    "lastName": "string",
                    "countryCode": "string",
                    "managedAccount": true,
                    "activated": true
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/directory/users/{userid}/companies": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_GetUserCompanies",
        "description": "Returns a list of companies tied to a spescified user.",
        "operationId": "UsersDirectory_GetUserCompanies",
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyReferenceArray"
                },
                "example": [
                  {
                    "identity": "string",
                    "name": "string",
                    "id": "string",
                    "description": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/directory/users/{userid}/services": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_GetUserServices",
        "description": "Get a list of the users servcies. Paged query: uses 0 based page index",
        "operationId": "UsersDirectory_GetUserServices",
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceReferenceArray"
                },
                "example": [
                  {
                    "identity": "string",
                    "ProductionService": true,
                    "name": "string",
                    "id": "string",
                    "description": "string"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/directory/users/{userid}/services/{serviceId}": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_GetUserSubscriptionDetails",
        "description": "Gets the subscription state for a user with respect to the service provided.",
        "operationId": "UsersDirectory_GetUserSubscriptionDetails",
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionDetails"
                },
                "example": {
                  "service": {
                    "identity": "string",
                    "ProductionService": true,
                    "name": "string",
                    "id": "string",
                    "description": "string"
                  },
                  "user": {
                    "identity": "string",
                    "email": "string",
                    "activated": true,
                    "name": "string",
                    "id": "string"
                  },
                  "role": {
                    "identity": "string",
                    "type": "string",
                    "name": "string",
                    "id": "string"
                  },
                  "subscriptionState": {
                    "state": "subscribing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/directory/users/me/edit": {
      "post": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_UpdateCurrentUser",
        "description": "Update the profile for the logged in user. This cannot be used to edit a random user, you need to have a valid user token",
        "operationId": "UsersDirectory_UpdateCurrentUser",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInfoUpdate"
              },
              "example": {
                "firstName": "string",
                "lastName": "string",
                "displayName": "string",
                "countryCode": "string"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/directory/users/me/change/password": {
      "post": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_UpdateCurrentUsersPassword",
        "description": "Changes the password for the logged in user.",
        "operationId": "UsersDirectory_UpdateCurrentUsersPassword",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              },
              "example": {
                "oldPassword": "string",
                "newPassword": "string",
                "newPasswordRepeat": "string"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/directory/users/me/change/{type}": {
      "post": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_UpdateCurrentUsersEmailOrPhone",
        "description": "change and validate phone or email. The type parameter can be email or phone",
        "operationId": "UsersDirectory_UpdateCurrentUsersEmailOrPhone",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authToken",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAddressRequest"
              },
              "example": {
                "oldAddress": "string",
                "newAddress": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryUsersMeChangeTypePost200ApplicationJsonResponse"
                },
                "example": "string"
              }
            }
          }
        }
      }
    },
    "/directory/users/me/activate": {
      "post": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_ActivateUserAccount",
        "description": "Activates a user by providing the activation token obtained in 'me/exchange/otp'",
        "operationId": "UsersDirectory_ActivateUserAccount",
        "parameters": [
          {
            "name": "authToken",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivationRequest"
              },
              "example": {
                "password": "string",
                "passwordRepeat": "string",
                "userId": "string",
                "userDetails": {
                  "firstName": "string",
                  "lastName": "string",
                  "displayName": "string",
                  "countryCode": "string"
                },
                "email": "string",
                "acceptPlatformTerms": true,
                "acceptServiceTerms": true,
                "serviceId": "string"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/directory/users/me/pending/activation": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_GetPendingUserActivation",
        "description": "Get the data currently registered on the new user",
        "operationId": "UsersDirectory_GetPendingUserActivation",
        "parameters": [
          {
            "name": "authToken",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailAddress",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                },
                "example": {
                  "name": "string",
                  "email": "string",
                  "id": "string",
                  "#companies": 0,
                  "verifiedEmail": true,
                  "language": "string",
                  "identity": "string",
                  "phone": "string",
                  "verifiedPhone": true,
                  "servicesUrl": "string",
                  "companiesUrl": "string",
                  "firstName": "string",
                  "lastName": "string",
                  "countryCode": "string",
                  "managedAccount": true,
                  "activated": true
                }
              }
            }
          }
        }
      }
    },
    "/directory/users/me/exchange/otp": {
      "post": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_ExchangeOtpCode",
        "description": "Exchange the otp code with an activation token",
        "operationId": "UsersDirectory_ExchangeOtpCode",
        "parameters": [
          {
            "name": "otpAuthCode",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailAddress",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenWrapper"
                },
                "example": {
                  "expiry": 0,
                  "issued": 0,
                  "authToken": "string",
                  "issuedBy": "string"
                }
              }
            }
          }
        }
      }
    },
    "/directory/users/me/change/{type}/verify": {
      "post": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_ValidateEmailOrPhone",
        "description": "Verify that the user is the rightfull owner of the email/phone. The type parameter can be email or phone",
        "operationId": "UsersDirectory_ValidateEmailOrPhone",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authToken",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmationRequest"
              },
              "example": {
                "activationCode": "string",
                "address": "string"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-supportCode": {
                "description": "correlation token for log lookup.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/directory/users/me/accept/terms": {
      "post": {
        "tags": [
          "Directory"
        ],
        "summary": "UsersDirectory_AcceptTerms",
        "description": "Accept the service and platform terms on behalf of the logged in user",
        "operationId": "UsersDirectory_AcceptTerms",
        "parameters": [
          {
            "name": "x-supportCode",
            "in": "header",
            "description": "Provide a correlation token for log lookup. This is optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Veracity api management subscription key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
[...]
